.row
    form(novalidate name='Scoresheet.scoresheetForm' ng-submit='Scoresheet.submitScoresheet()' ng-class="{'readonly-form' : Scoresheet.game.submitted}")
        .col-lg-6.col-md-6.col-sm-12
            .row(ng-show='Scoresheet.game.onTossup')
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                    select.form-control.nf-input.nf-gray(required ng-options='team as team.name for team in Scoresheet.teams | preventSameMatchTeams:Scoresheet.game.teams[1].teamInfo.id', 
                        ng-model='Scoresheet.game.teams[0].teamInfo' ng-change='Scoresheet.loadTeamPlayers(Scoresheet.game.teams[0])',
                        ng-class="{'readonly': Scoresheet.game.currentCycle.number > 1}"    
                    )
                        option(disabled value='') Choose a Team
                    br
                    
                    .panel.nf-panel
                        .nf-panel-heading.nf-blue.center 
                            | {{Scoresheet.game.teams[0].teamInfo.name || 'Choose a Team'}} ({{Scoresheet.getTeamScoreUpToCycle(Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}})
                            p.nf-margin.warning-text(ng-show='Scoresheet.getNumberOfActivePlayers(Scoresheet.game.teams[0].players) > Scoresheet.rules.maxActive') 
                                | # active more than max allowed active players.
                            p.nf-margin.warning-text(ng-show='Scoresheet.getNumberOfActivePlayers(Scoresheet.game.teams[0].players) === 0') 
                                | No active players.
                        .panel-body.nf-panel-body.nf-dark-blue.relative(style='position:relative')
                            .input-group.nf-margin.responsive(ng-repeat='player in Scoresheet.game.teams[0].players' ng-class="{'not-visible' : !player.active}")
                                div.player-name
                                    div.player-arrows(style='position:absolute;z-index:10' ng-if='Scoresheet.game.teams[0].players.length > 1')
                                        span.input-group-addon.btn.nf-button.nf-blue.no-border(style='position:absolute;margin:0', 
                                            ng-click='Scoresheet.swapPlayers(Scoresheet.game.teams[0].players, $index, $index - 1)',
                                            title='Switch {{player.name}} and {{$first ? Scoresheet.game.teams[0].players[Scoresheet.game.teams[0].players.length - 1].name : Scoresheet.game.teams[0].players[$index - 1].name}}'
                                        ) 
                                            i.fa.fa-arrow-up(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                        span.input-group-addon.btn.nf-button.nf-orange.no-border(style='position:absolute;margin:0;top:22px', 
                                            ng-click='Scoresheet.swapPlayers(Scoresheet.game.teams[0].players, $index, $index + 1)',
                                            title='Switch {{player.name}} and {{$last ? Scoresheet.game.teams[0].players[0].name : Scoresheet.game.teams[0].players[$index + 1].name}}'
                                        ) 
                                            i.fa.fa-arrow-down(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                    div.form-control.nf-input.nf-gray {{player.name}}
                                span.input-group-addon.btn.nf-button(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true', 
                                    ng-class="{'nf-green': tv.type === 'Power', 'nf-blue': tv.type === 'Base', 'nf-red': tv.type === 'Neg'}",
                                    ng-click='Scoresheet.addPlayerAnswerToCurrentCycle(player, Scoresheet.game.teams[0].teamInfo, tv); Scoresheet.switchToBonusIfTossupGotten(tv, Scoresheet.game.teams[0].teamInfo.id)') {{tv.value}}
                               
                                br                               
                            
                            div.neg-box(ng-show='!Scoresheet.teamDidNotNegInCycle(Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle)')
                                button.nf-red.nf-button.btn.btn-block(type='button' ng-click='Scoresheet.removeTeamNegsFromCycle(Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle)') Undo Neg
                                
                        .panel-footer.nf-panel-footer.nf-blue
                            .input-group.nf-margin(ng-show='Scoresheet.game.teams[0].teamInfo')
                                input.form-control.nf-input(ng-model='Scoresheet.game.teams[0].newPlayer' placeholder='New Player for {{Scoresheet.game.teams[0].teamInfo.name}}' type='text' autocomplete='off')
                                span.input-group-addon.nf-button.btn.nf-green(ng-click='Scoresheet.addPlayer(Scoresheet.game.teams[0])')
                                    i.fa.fa-check
                                    
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                    select.form-control.nf-input.nf-gray(required ng-options='team as team.name for team in Scoresheet.teams | preventSameMatchTeams:Scoresheet.game.teams[0].teamInfo.id', 
                        ng-model='Scoresheet.game.teams[1].teamInfo' ng-change='Scoresheet.loadTeamPlayers(Scoresheet.game.teams[1])', 
                        ng-class="{'readonly' : Scoresheet.game.currentCycle.number > 1}"    
                    )
                        option(disabled value='') Choose a Team
                    br
                    .panel.nf-panel
                        .nf-panel-heading.nf-blue.center 
                            | {{Scoresheet.game.teams[1].teamInfo.name || 'Choose a Team'}} ({{Scoresheet.getTeamScoreUpToCycle(Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}})
                            p.warning-text.nf-margin(ng-show='Scoresheet.getNumberOfActivePlayers(Scoresheet.game.teams[1].players) > Scoresheet.rules.maxActive') 
                                | # active more than max allowed active players.
                            p.nf-margin.warning-text(ng-show='Scoresheet.getNumberOfActivePlayers(Scoresheet.game.teams[1].players) === 0') 
                                | No active players.
                        .panel-body.nf-panel-body.nf-dark-blue.relative
                            .input-group.nf-margin.responsive(ng-repeat='player in Scoresheet.game.teams[1].players' ng-class="{'not-visible' : !player.active}")
                                div.player-name
                                    div.player-arrows(style='position:absolute;z-index:10' ng-if='Scoresheet.game.teams[1].players.length > 1')
                                        span.input-group-addon.btn.nf-button.nf-blue.no-border(style='position:absolute;margin:0', 
                                            ng-click='Scoresheet.swapPlayers(Scoresheet.game.teams[1].players, $index, $index - 1)',
                                            title='Switch {{player.name}} and {{$first ? Scoresheet.game.teams[1].players[Scoresheet.game.teams[1].players.length - 1].name : Scoresheet.game.teams[1].players[$index - 1].name}}'
                                        ) 
                                            i.fa.fa-arrow-up(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                        span.input-group-addon.btn.nf-button.nf-orange.no-border(style='position:absolute;margin:0;top:22px', 
                                            ng-click='Scoresheet.swapPlayers(Scoresheet.game.teams[1].players, $index, $index + 1)', 
                                            title='Switch {{player.name}} and {{$last ? Scoresheet.game.teams[1].players[0].name : Scoresheet.game.teams[1].players[$index + 1].name}}'    
                                        ) 
                                            i.fa.fa-arrow-down(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                    div.form-control.nf-input.nf-gray {{player.name}}
                                span.input-group-addon.btn.nf-button(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true', 
                                    ng-class="{'nf-green': tv.type === 'Power', 'nf-blue': tv.type === 'Base', 'nf-red': tv.type === 'Neg'}",
                                    ng-click='Scoresheet.addPlayerAnswerToCurrentCycle(player, Scoresheet.game.teams[1].teamInfo, tv); Scoresheet.switchToBonusIfTossupGotten(tv, Scoresheet.game.teams[1].teamInfo.id)') {{tv.value}}
                                
                                br
                                
                            div.neg-box(ng-show='!Scoresheet.teamDidNotNegInCycle(Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle)')
                                button.nf-red.nf-button.btn.btn-block(type='button' ng-click='Scoresheet.removeTeamNegsFromCycle(Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle)') Undo Neg
            
                        .panel-footer.nf-panel-footer.nf-blue
                            .input-group.nf-margin(ng-show='Scoresheet.game.teams[1].teamInfo')
                                input.form-control.nf-input(ng-model='Scoresheet.game.teams[1].newPlayer' placeholder='New Player for {{Scoresheet.game.teams[1].teamInfo.name}}' type='text' autocomplete='off')
                                span.input-group-addon.nf-button.btn.nf-green(ng-click='Scoresheet.addPlayer(Scoresheet.game.teams[1])')
                                    i.fa.fa-check
                                    
            .row(ng-show='!Scoresheet.game.onTossup')
                .col-lg-12.col-md-12.col-sm-12
                    .panel.nf-panel
                        .nf-panel-heading.nf-blue.center 
                            | Bonus {{Scoresheet.game.currentCycle.number}} for {{Scoresheet.getTeam(Scoresheet.game.currentCycle.answers[Scoresheet.game.currentCycle.answers.length - 1].teamId).teamInfo.name }}
                        .panel-body.nf-panel-body.nf-dark-blue
                            .input-group.nf-margin(ng-repeat='part in Scoresheet.range(Scoresheet.pointScheme.partsPerBonus) track by $index')
                                span.input-group-addon.nf-button.transition.nf-gray.no-border(ng-click='Scoresheet.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[0].teamInfo, Scoresheet.game.currentCycle.bonuses)', 
                                    ng-class="{'nf-green' : Scoresheet.game.currentCycle.bonuses[$index] === Scoresheet.game.teams[0].teamInfo.id}", 
                                    ng-show='Scoresheet.rules.bouncebacks || Scoresheet.getTeamThatGotTossup(Scoresheet.game.currentCycle) === Scoresheet.game.teams[0].teamInfo.id')  
                                    | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[0].teamInfo.name}}
                                div.form-control.nf-input.nf-blue.no-border.center Part {{$index + 1}}
                                span.input-group-addon.nf-button.transition.nf-gray.no-border(ng-click='Scoresheet.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[1].teamInfo, Scoresheet.game.currentCycle.bonuses)', 
                                    ng-class="{'nf-green' : Scoresheet.game.currentCycle.bonuses[$index] === Scoresheet.game.teams[1].teamInfo.id}",
                                    ng-show='Scoresheet.rules.bouncebacks || Scoresheet.getTeamThatGotTossup(Scoresheet.game.currentCycle) === Scoresheet.game.teams[1].teamInfo.id')  
                                    | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[1].teamInfo.name}}
                            
                            br
                            
                            .row
                                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    button.nf-button.btn.nf-orange.btn-block(type='button' ng-click='Scoresheet.removeLastAnswerFromCycle(Scoresheet.game.currentCycle); Scoresheet.switchCurrentCycleContext(false)') Back
                                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                    button.nf-button.btn.nf-green.btn-block(type='button' ng-click='Scoresheet.switchCurrentCycleContext(false); Scoresheet.nextCycle()') Next

            .row(ng-show='Scoresheet.game.onTossup && Scoresheet.game.teams[0].teamInfo && Scoresheet.game.teams[1].teamInfo')
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                    button.nf-button.btn.nf-orange.btn-block.no-margin(type='button' ng-click='Scoresheet.lastCycle()' ng-disabled='Scoresheet.game.currentCycle.number <= 1') Back One Cycle
                .col-lg-6.col-md-6.col-sm-6.col-xs-6
                    button.nf-button.btn.nf-black.btn-block.no-margin(type='button' ng-click='Scoresheet.nextCycle()') Dead Tossup
            br            

            .row
                .col-lg-6.col-md-12.col-sm-12
                    .panel.nf-panel.nf-blue 
                        table.table.table-condensed.responsive-font.player-table
                            thead
                                th.table-head {{Scoresheet.game.teams[0].teamInfo.name}}
                                th.table-head.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true') {{tv.value}}
                                th.table-head.center Pts
                                th.table-head.center TUH
                            tbody
                                tr.nf-dark-blue(ng-repeat='player in Scoresheet.game.teams[0].players' title='Toggle active/inactive state' ng-class="{'green-text': player.active}")
                                    td.pad(ng-click='player.active = !player.active') {{player.name}}
                                    td.pad.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true') {{Scoresheet.getNumberOfTossupTypeForPlayer(player, tv)}}
                                    td.pad.center {{Scoresheet.getPlayerTotalPoints(player)}}
                                    td.pad.center
                                       input.center.input-sm.nf-input.form-control(type='number', 
                                            name='{{"player" + player.id + "_tuh"}}' min='0' max='{{Scoresheet.game.currentCycle.number - 1}}',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm['player' + player.id + '_tuh'].$invalid}", 
                                            ng-model='player.tuh' autocomplete='off')

                .col-lg-6.col-md-12.col-sm-12
                    .panel.nf-panel.nf-blue 
                        table.table.table-condensed.responsive-font.player-table
                            thead
                                th.table-head {{Scoresheet.game.teams[1].teamInfo.name}}
                                th.table-head.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true') {{tv.value}}
                                th.table-head.center Pts
                                th.table-head.center TUH
                            tbody
                                tr.nf-dark-blue(ng-repeat='player in Scoresheet.game.teams[1].players' title='Toggle active/inactive state' ng-class="{'green-text': player.active}")
                                    td.pad(ng-click='player.active = !player.active' ) {{player.name}}
                                    td.pad.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true') {{Scoresheet.getNumberOfTossupTypeForPlayer(player, tv)}}
                                    td.pad.center {{Scoresheet.getPlayerTotalPoints(player)}}
                                    td.pad.center
                                        input.center.input-sm.nf-input.form-control(type='number', 
                                            name='{{"player" + player.id + "_tuh"}}' min='0' max='{{Scoresheet.game.currentCycle.number - 1}}',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm['player' + player.id + '_tuh'].$invalid}",  
                                            ng-model='player.tuh' autocomplete='off')            
            
            .row(ng-if='!Scoresheet.game.teams[0].teamInfo && !Scoresheet.game.teams[1].teamInfo')
                .col-lg-6.col-md-6.col-sm-6
                    button.nf-button.button.btn.btn-block.nf-orange(type='button' ng-click='Scoresheet.loadLastSavedScoresheet()') Load Last Scoresheet
            .row(ng-if='Scoresheet.game.teams[0].teamInfo && Scoresheet.game.teams[1].teamInfo')
                .col-lg-6.col-md-6.col-sm-6
                    button.nf-button.button.btn.btn-block.nf-orange(type='button' title='Load a new scoresheet' ng-click='Scoresheet.game = Scoresheet.newScoresheet()') New Scoresheet
                
        .col-lg-6.col-md-6.col-sm-12(ng-show='Scoresheet.game.teams[0].teamInfo.id && Scoresheet.game.teams[1].teamInfo.id' style='overflow:auto')
            .row
                p.nf-panel-heading.nf-blue(style='padding:20px') 
                    | Last Saved At: {{Scoresheet.game.lastSavedAt || 'Not Saved' | date:'mediumTime'}}
            
            br
            
            .row
                .panel.nf-panel.relative
                    table.table.table-condensed.responsive-font.table-bordered
                        thead
                            tr.no-border
                                th.center.table-head.nf-blue(ng-repeat='player in Scoresheet.game.teams[0].players' title='{{player.name}}') {{player.name | limitTo:2}}
                                th.center.table-head.nf-gray Bonus
                                th.center.table-head.nf-gray Total
                                th.center.table-head.nf-gray TU # 
                                th.center.table-head.nf-gray Total
                                th.center.table-head.nf-gray Bonus
                                th.center.table-head.nf-blue(ng-repeat='player in Scoresheet.game.teams[1].players' title='{{player.name}}') {{player.name | limitTo:2}}

                        tbody
                            tr(ng-repeat='cycle in Scoresheet.game.cycles track by $index', 
                                ng-class="{'nf-dark-blue': $index + 1 !== Scoresheet.game.currentCycle.number, 'nf-green green-text': $index + 1 === Scoresheet.game.currentCycle.number}",
                                ng-click='Scoresheet.displayCycle()')
                                td.center(ng-repeat='player in Scoresheet.game.teams[0].players') 
                                    p(ng-show='!cycle.editing[player.id]' ng-click='Scoresheet.displayPlayerAnswerForCycle(player, $parent.$index)') 
                                        | {{Scoresheet.getPlayerAnswerForCycle(player, $parent.$index + 1 === Scoresheet.game.currentCycle.number ? Scoresheet.game.currentCycle : cycle).value || '-'}}
                                    .input-group(ng-if='cycle.editing[player.id]')
                                        select.form-control.nf-input(style='font-size:.9em' ng-options='pv as pv.value for pv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-model='cycle.newAnswer[player.id]')
                                            option(value='') -
                                        span.input-group-addon.nf-button.btn.nf-red.btn-sm(ng-click='cycle.editing[player.id] = false')
                                            i.fa.fa-times
                                        span.input-group-addon.nf-button.btn.nf-green.btn-sm(ng-click='Scoresheet.editPlayerAnswerForCycle(player.id, Scoresheet.game.teams[0].teamInfo.id, cycle.newAnswer[player.id], cycle)')
                                            i.fa.fa-check

                                td.center 
                                    p(ng-show='!cycle.editingBonus' ng-click='Scoresheet.displayCycleBonuses(Scoresheet.game.teams[0].teamInfo.id, $index)') 
                                        | {{Scoresheet.game.currentCycle.number > $index ? Scoresheet.getTeamBonusPointsForCycle(Scoresheet.game.teams[0].teamInfo.id, $index) : '-'}}
                                    div(ng-if='cycle.editingBonus && (Scoresheet.rules.bouncebacks || Scoresheet.getTeamThatGotTossup(cycle) === Scoresheet.game.teams[0].teamInfo.id)')
                                        .input-group.nf-margin.transition(ng-repeat='part in Scoresheet.range(Scoresheet.pointScheme.partsPerBonus) track by $index')
                                            span.input-group-addon.transition.nf-gray.no-border( 
                                                ng-class="{'nf-green' : cycle.bonusesCopy[$index] === Scoresheet.game.teams[0].teamInfo.id}",
                                                ng-click='Scoresheet.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[0].teamInfo, cycle.bonusesCopy)')  
                                                | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[0].teamInfo.name}}
                                        span.btn.nf-button.nf-red.nf-margin(ng-click='cycle.editingBonus = false')
                                            i.fa.fa-times
                                        span.btn.nf-button.nf-green.nf-margin(ng-click='Scoresheet.editCycleBonuses(cycle)')
                                            i.fa.fa-check
                                td.center 
                                    | {{Scoresheet.game.currentCycle.number > $index ? Scoresheet.getTeamScoreUpToCycle(Scoresheet.game.teams[0].teamInfo.id, $index) : '-'}}
                                td.center {{$index + 1}}
                                td.center
                                    | {{Scoresheet.game.currentCycle.number > $index ? Scoresheet.getTeamScoreUpToCycle(Scoresheet.game.teams[1].teamInfo.id, $index) : '-'}}
                                td.center
                                    p(ng-show='!cycle.editingBonus' ng-click='Scoresheet.displayCycleBonuses(Scoresheet.game.teams[1].teamInfo.id, $index)') 
                                        | {{Scoresheet.game.currentCycle.number > $index ? Scoresheet.getTeamBonusPointsForCycle(Scoresheet.game.teams[1].teamInfo.id, $index) : '-'}}
                                    div(ng-if='cycle.editingBonus && (Scoresheet.rules.bouncebacks || Scoresheet.getTeamThatGotTossup(cycle) === Scoresheet.game.teams[1].teamInfo.id)')
                                        .input-group.nf-margin.transition(ng-repeat='part in Scoresheet.range(Scoresheet.pointScheme.partsPerBonus) track by $index')
                                            span.input-group-addon.transition.nf-gray.no-border( 
                                                ng-class="{'nf-green' : cycle.bonusesCopy[$index] === Scoresheet.game.teams[1].teamInfo.id}",
                                                ng-click='Scoresheet.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[1].teamInfo, cycle.bonusesCopy)')  
                                                | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[1].teamInfo.name}}
                                        span.btn.nf-button.nf-red.nf-margin(ng-click='cycle.editingBonus = false')
                                            i.fa.fa-times
                                        span.btn.nf-button.nf-green.nf-margin(ng-click='Scoresheet.editCycleBonuses(cycle)')
                                            i.fa.fa-check

                                td.center(ng-repeat='player in Scoresheet.game.teams[1].players') 
                                    p(ng-show='!cycle.editing[player.id]' ng-click='Scoresheet.displayPlayerAnswerForCycle(player, $parent.$index)') 
                                        | {{Scoresheet.getPlayerAnswerForCycle(player, $parent.$index + 1 === Scoresheet.game.currentCycle.number ? Scoresheet.game.currentCycle : cycle).value || '-'}}
                                    .input-group(ng-if='cycle.editing[player.id]')
                                        select.form-control.nf-input(style='font-size:.9em' ng-options='pv as pv.value for pv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-model='cycle.newAnswer[player.id]')
                                            option(value='') -
                                        span.input-group-addon.nf-button.btn.nf-red.btn-sm(ng-click='cycle.editing[player.id] = false')
                                            i.fa.fa-times
                                        span.input-group-addon.nf-button.btn.nf-green.btn-sm(ng-click='Scoresheet.editPlayerAnswerForCycle(player.id, Scoresheet.game.teams[1].teamInfo.id, cycle.newAnswer[player.id], cycle)')
                                            i.fa.fa-check
            
            
            
            .row
                .panel.nf-panel
                    .nf-panel-heading.nf-blue.center Match Information
                    .nf-panel-body.panel-body.nf-dark-blue
                        .row
                            .col-lg-6.col-md-6.col-sm-6(style='text-align:left')
                                .row.nf-margin
                                    label.label.nf-label.green-text {{Scoresheet.game.teams[0].teamInfo.name}}
                                .row.nf-margin
                                    label.label.nf-label 
                                        p.inline Score: 
                                        p.inline {{Scoresheet.getTeamScoreUpToCycle(Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}}
                                .row.nf-margin(ng-if='Scoresheet.rules.bouncebacks')
                                    label.label.nf-label 
                                        p.inline Bouncebacks: 
                                        p.inline {{Scoresheet.getTeamBouncebacks(Scoresheet.game.teams[0].teamInfo.id)}}
                                .row
                                    .col-md-6.col-sm-6
                                        label.label.nf-label.btn-block Overtime TUs:
                                    .col-md-6.col-sm-6
                                        input.form-control.nf-input(type='number' min='0' max='{{Scoresheet.game.currentCycle.number - 1}}' placeholder='# of OT tossups', 
                                            ng-model='Scoresheet.game.teams[0].overtime',
                                            name='ot1',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.ot1.$invalid}", 
                                        )
                                    
                            .col-lg-6.col-md-6.col-sm-6(style='text-align:right')
                                .row.nf-margin
                                    label.label.nf-label.green-text {{Scoresheet.game.teams[1].teamInfo.name}}
                                .row.nf-margin
                                    label.label.nf-label 
                                        p.inline Score: 
                                        p.inline {{Scoresheet.getTeamScoreUpToCycle(Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}}
                                .row.nf-margin(ng-if='Scoresheet.rules.bouncebacks')
                                    label.label.nf-label 
                                        p.inline Bouncebacks: 
                                        p.inline {{Scoresheet.getTeamBouncebacks(Scoresheet.game.teams[1].teamInfo.id)}}
                                .row
                                    .col-md-6.col-sm-6
                                        input.form-control.nf-input(type='number' min='0' max='{{Scoresheet.game.currentCycle.number - 1}}' placeholder='# of OT tossups', 
                                            ng-model='Scoresheet.game.teams[1].overtime',
                                            name='ot2',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.ot2.$invalid}", 
                                        )
                                    .col-md-6.col-sm-6
                                        label.label.nf-label.btn-block Overtime TUs                            
                        br
                        br
                        
                        .row
                            .col-lg-6.col-md-6.col-sm-6
                                .row.nf-margin
                                    label.label.nf-label Tossups Heard: {{Scoresheet.game.currentCycle.number - 1}}
                        
                        
                        hr
                                                                    
                        div(class="row")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="row")
                                    div(class="col-md-6 col-sm-6")
                                        label(class="label nf-dark-blue nf-label btn-block" style='float:right') Round
                                    div(class="col-md-6 col-sm-6")
                                        input(type="number" min='0' class="form-control nf-input " name="round" placeholder="Round", 
                                            ng-model='Scoresheet.game.round',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.round.$invalid}"
                                        )
                        br                        

                        div(class="row")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="row")
                                    div(class="col-md-6 col-sm-6")
                                        label(class="label nf-dark-blue nf-label btn-block" style='float:right') Room
                                    div(class="col-md-6 col-sm-6")
                                        input(type="text" class="form-control nf-input " name="room" placeholder="Room", 
                                            ng-model='Scoresheet.game.room',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.room.$invalid}"
                                        )

                        div(class="row")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="row")
                                    div(class="col-md-6 col-sm-6")
                                        label(class="label nf-dark-blue nf-label btn-block" style='float:right') Moderator
                                    div(class="col-md-6 col-sm-6")
                                        input(type="text" class="form-control nf-input " name="moderator" placeholder="Moderator", 
                                            ng-model='Scoresheet.game.moderator', 
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.moderator.$invalid}"
                                        )
                        br
                        div(class="row")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="row")
                                    div(class="col-md-6 col-sm-6")
                                        label(class="label nf-dark-blue nf-label btn-block" style='float:right') Packet
                                    div(class="col-md-6 col-sm-6")
                                        input(type="text" class="form-control nf-input " name="packet" placeholder="Packet", 
                                            ng-model='Scoresheet.game.packet',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.packet.$invalid}"
                                        )
                        br
                        div(class="row")
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="row")
                                    div(class="col-md-6 col-sm-6")
                                        label(class="label nf-dark-blue nf-label btn-block" style='float:right' title='Select all phases that you want this game to count for.') Phases* ({{Scoresheet.game.phases.length}})
                                    div(class="col-md-6 col-sm-6")
                                        select(multiple required class="form-control nf-input no-overflow" name='phases' ng-attr-size='{{Scoresheet.phases.length}}', 
                                            ng-options='phase.name for phase in Scoresheet.phases | orderBy:"name" track by phase.id' ng-model='Scoresheet.game.phases',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm.phases.$invalid}"
                                        )
                                            
                        br
                        
                        div(class='row')
                            div(class="col-lg-12 col-md-12 col-sm-12")
                                div(class="row")
                                    div(class="col-md-4 col-sm-4")
                                        label(class="label nf-dark-blue nf-label btn-block" style='float:right;') Notes
                                    div(class="col-md-8 col-sm-8")
                                        textarea(class="form-control nf-input " name="notes" placeholder="Notes" style='min-height:200px' ng-model='Scoresheet.game.notes')                                                            
                                
                    .nf-panel-footer.panel-footer.nf-blue
                        button.nf-button.btn.nf-green(type='submit' ng-disabled='Scoresheet.game.currentCycle.number === 1 || Scoresheet.scoresheetForm.$invalid' ng-show='!Scoresheet.game.submitted')
                            | Submit Match
                        button.nf-button.btn.nf-red(type='button' ng-show='Scoresheet.game.submitted' ng-click='Scoresheet.revertScoresheetSubmission()')
                            | Revert Submission
                        
            
        