.row
    form(novalidate name='Scoresheet.scoresheetForm' ng-submit='Scoresheet.submitScoresheet()' ng-class="{'readonly-form' : Scoresheet.game.submitted}")
        .col-lg-6.col-md-6.col-sm-12
            div(ng-controller='ScoresheetCycleController as CycleCtrl')
                .row.tossup-cycle-container(ng-show='CycleCtrl.game.onTossup')
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        select.form-control.nf-input.scoresheet-team(required ng-options='team as team.name group by CycleCtrl.scoresheetSelectGroup(team) for team in CycleCtrl.teams | preventSameMatchTeams:Scoresheet.game.teams[1].teamInfo.id | orderBy:"name"', 
                            ng-model='Scoresheet.game.teams[0].teamInfo' ng-change='CycleCtrl.loadTeamPlayers(Scoresheet.game.teams[0])',
                            ng-hide='Scoresheet.game.currentCycle.number > 1'    
                        )
                            option(disabled value='') Choose a Team
                        .panel.nf-panel
                            .nf-panel-heading.center    
                                | {{Scoresheet.game.teams[0].teamInfo.name || 'Choose a Team'}} ({{CycleCtrl.getTeamScoreUpToCycle(Scoresheet.game, Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}})
                                p.nf-margin.warning-text(ng-show='CycleCtrl.getNumberOfActivePlayers(Scoresheet.game.teams[0].players) > CycleCtrl.rules.maxActive') 
                                    | # active more than max allowed active players.
                                p.nf-margin.warning-text(ng-show='CycleCtrl.getNumberOfActivePlayers(Scoresheet.game.teams[0].players) === 0') 
                                    | No active players.
                            .panel-body.nf-panel-body.nf-white.relative(style='position:relative')
                                .input-group.nf-margin.responsive(ng-repeat='player in Scoresheet.game.teams[0].players' ng-class="{'not-visible' : !player.active}")
                                    div.player-name
                                        div.player-arrows(style='position:absolute;z-index:10' ng-if='Scoresheet.game.teams[0].players.length > 1')
                                            span.input-group-addon.btn.nf-button.nf-blue.no-border(style='position:absolute;margin:0', 
                                                ng-click='CycleCtrl.swapPlayers(Scoresheet.game.teams[0].players, $index, $index - 1)',
                                                title='Switch {{player.name}} and {{$first ? Scoresheet.game.teams[0].players[Scoresheet.game.teams[0].players.length - 1].name : Scoresheet.game.teams[0].players[$index - 1].name}}'
                                            ) 
                                                i.fa.fa-arrow-up(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                            span.input-group-addon.btn.nf-button.nf-orange.no-border(style='position:absolute;margin:0;top:22px', 
                                                ng-click='CycleCtrl.swapPlayers(Scoresheet.game.teams[0].players, $index, $index + 1)',
                                                title='Switch {{player.name}} and {{$last ? Scoresheet.game.teams[0].players[0].name : Scoresheet.game.teams[0].players[$index + 1].name}}'
                                            ) 
                                                i.fa.fa-arrow-down(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                        div.form-control.nf-input.nf-white.name(ng-bind='player.name')
                                    span.input-group-addon.btn.transition.nf-button.button-outline(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true', 
                                        ng-class="{'button-outline-green': tv.type === 'Power', 'button-outline-blue': tv.type === 'Base', 'button-outline-red': tv.type === 'Neg'}",
                                        ng-click='CycleCtrl.addPlayerAnswerToCurrentCycle(player, Scoresheet.game.teams[0].teamInfo, tv); CycleCtrl.switchToBonusIfTossupGotten(tv, Scoresheet.game.teams[0].teamInfo.id)',
                                        ng-bind='tv.value')
                                
                                    br                               
                                    
                                    
                                div.neg-box(ng-show='!CycleCtrl.teamDidNotNegInCycle(Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle)')
                                    button.nf-red.nf-button.btn.btn-block(type='button' ng-click='CycleCtrl.removeTeamNegsFromCycle(Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle)') Undo Neg
                                    
                            .panel-footer.nf-panel-footer.nf-white
                                .input-group.nf-margin(ng-show='Scoresheet.game.teams[0].teamInfo')
                                    input.form-control.nf-input(ng-model='Scoresheet.game.teams[0].newPlayer' placeholder='New Player for {{Scoresheet.game.teams[0].teamInfo.name}}' type='text' autocomplete='off')
                                    span.input-group-addon.nf-button.btn.button-outline.button-outline-green(ng-click='Scoresheet.addPlayer(Scoresheet.game.teams[0])')
                                        i.fa.fa-check
                                        
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        select.form-control.nf-input.scoresheet-team(required ng-options='team as team.name group by CycleCtrl.scoresheetSelectGroup(team) for team in CycleCtrl.teams | preventSameMatchTeams:Scoresheet.game.teams[0].teamInfo.id | orderBy:"name"', 
                            ng-model='Scoresheet.game.teams[1].teamInfo' ng-change='CycleCtrl.loadTeamPlayers(Scoresheet.game.teams[1])',
                            ng-hide='Scoresheet.game.currentCycle.number > 1' 
                        )
                            option(disabled value='') Choose a Team
                        
                        .panel.nf-panel
                            .nf-panel-heading.center 
                                | {{Scoresheet.game.teams[1].teamInfo.name || 'Choose a Team'}} ({{CycleCtrl.getTeamScoreUpToCycle(Scoresheet.game, Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}})
                                p.warning-text.nf-margin(ng-show='CycleCtrl.getNumberOfActivePlayers(Scoresheet.game.teams[1].players) > Scoresheet.rules.maxActive') 
                                    | # active more than max allowed active players.
                                p.nf-margin.warning-text(ng-show='CycleCtrl.getNumberOfActivePlayers(Scoresheet.game.teams[1].players) === 0') 
                                    | No active players.
                            .panel-body.nf-panel-body.nf-white.relative
                                .input-group.nf-margin.responsive(ng-repeat='player in Scoresheet.game.teams[1].players' ng-class="{'not-visible' : !player.active}")
                                    div.player-name
                                        div.player-arrows(style='position:absolute;z-index:10' ng-if='Scoresheet.game.teams[1].players.length > 1')
                                            span.input-group-addon.btn.nf-button.nf-blue.no-border(style='position:absolute;margin:0', 
                                                ng-click='CycleCtrl.swapPlayers(Scoresheet.game.teams[1].players, $index, $index - 1)',
                                                title='Switch {{player.name}} and {{$first ? Scoresheet.game.teams[1].players[Scoresheet.game.teams[1].players.length - 1].name : Scoresheet.game.teams[1].players[$index - 1].name}}'
                                            ) 
                                                i.fa.fa-arrow-up(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                            span.input-group-addon.btn.nf-button.nf-orange.no-border(style='position:absolute;margin:0;top:22px', 
                                                ng-click='CycleCtrl.swapPlayers(Scoresheet.game.teams[1].players, $index, $index + 1)', 
                                                title='Switch {{player.name}} and {{$last ? Scoresheet.game.teams[1].players[0].name : Scoresheet.game.teams[1].players[$index + 1].name}}'    
                                            ) 
                                                i.fa.fa-arrow-down(style='position:absolute;top:20%;font-size:0.8em;right:25%')
                                        div.form-control.nf-input.nf-white.name(ng-bind='player.name')
                                    span.input-group-addon.transition.btn.nf-button.button-outline(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true', 
                                        ng-class="{'button-outline-green': tv.type === 'Power', 'button-outline-blue': tv.type === 'Base', 'button-outline-red': tv.type === 'Neg'}",
                                        ng-click='CycleCtrl.addPlayerAnswerToCurrentCycle(player, Scoresheet.game.teams[1].teamInfo, tv); CycleCtrl.switchToBonusIfTossupGotten(tv, Scoresheet.game.teams[1].teamInfo.id)', 
                                        ng-bind='tv.value') 
                                    
                                    br
                                    
                                div.neg-box(ng-show='!CycleCtrl.teamDidNotNegInCycle(Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle)')
                                    button.nf-red.nf-button.btn.btn-block(type='button' ng-click='CycleCtrl.removeTeamNegsFromCycle(Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle)') Undo Neg
                
                            .panel-footer.nf-panel-footer.nf-white
                                .input-group.nf-margin(ng-show='Scoresheet.game.teams[1].teamInfo')
                                    input.form-control.nf-input(ng-model='Scoresheet.game.teams[1].newPlayer' placeholder='New Player for {{Scoresheet.game.teams[1].teamInfo.name}}' type='text' autocomplete='off')
                                    span.input-group-addon.nf-button.btn.button-outline.button-outline-green(ng-click='Scoresheet.addPlayer(Scoresheet.game.teams[1])')
                                        i.fa.fa-check
                                        
                .row(ng-show='!Scoresheet.game.onTossup')
                    .col-lg-12.col-md-12.col-sm-12
                        .panel.nf-panel
                            .nf-panel-heading.center 
                                | Bonus {{Scoresheet.game.currentCycle.number}} for {{Scoresheet.getTeam(Scoresheet.game.currentCycle.answers[Scoresheet.game.currentCycle.answers.length - 1].teamId).teamInfo.name }}
                            .panel-body.nf-panel-body.nf-white
                                .input-group.nf-margin(ng-repeat='part in Scoresheet.range(Scoresheet.pointScheme.partsPerBonus) track by $index')
                                    span.input-group-addon.nf-button.transition.button-outline.button-outline-green(ng-click='CycleCtrl.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[0].teamInfo, Scoresheet.game.currentCycle.bonuses)', 
                                        ng-class="{'nf-green' : Scoresheet.game.currentCycle.bonuses[$index] === Scoresheet.game.teams[0].teamInfo.id}", 
                                        ng-show='Scoresheet.rules.bouncebacks || CycleCtrl.getTeamThatGotTossup(Scoresheet.game.currentCycle) === Scoresheet.game.teams[0].teamInfo.id')  
                                        | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[0].teamInfo.name}}
                                    .form-control.nf-input.center Part {{$index + 1}}
                                    span.input-group-addon.nf-button.transition.button-outline.button-outline-green(ng-click='CycleCtrl.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[1].teamInfo, Scoresheet.game.currentCycle.bonuses)', 
                                        ng-class="{'nf-green' : Scoresheet.game.currentCycle.bonuses[$index] === Scoresheet.game.teams[1].teamInfo.id}",
                                        ng-show='Scoresheet.rules.bouncebacks || CycleCtrl.getTeamThatGotTossup(Scoresheet.game.currentCycle) === Scoresheet.game.teams[1].teamInfo.id')  
                                        | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[1].teamInfo.name}}
                                
                                br
                            .panel-footer.nf-panel-footer.nf-gray
                                .row
                                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                        button.btn-sm.nf-button.btn.nf-orange.btn-block(type='button' ng-click='CycleCtrl.removeLastAnswerFromCycle(Scoresheet.game.currentCycle); CycleCtrl.switchCurrentCycleContext(false)') Back
                                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                                        button.btn-sm.nf-button.btn.nf-green.btn-block(type='button' ng-click='CycleCtrl.switchCurrentCycleContext(false); CycleCtrl.nextCycle()') Next

                .row(ng-show='Scoresheet.game.onTossup && Scoresheet.game.teams[0].teamInfo && Scoresheet.game.teams[1].teamInfo')
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        button.nf-button.btn.button-outline.button-outline-orange.btn-block.no-margin(type='button' ng-click='CycleCtrl.lastCycle()' ng-disabled='Scoresheet.game.currentCycle.number <= 1') Back One Cycle
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        button.nf-button.btn.button-outline.button-outline-black.btn-block.no-margin(type='button' ng-click='CycleCtrl.nextCycle()') Dead Tossup / Next Tossup
            br            

            .row(ng-controller='ScoresheetPointsTrackerCtrl as TrackerCtrl')
                .col-lg-6.col-md-12.col-sm-12
                    div.table-responsive.nf-table
                        table.table.table-condensed.responsive-font.player-table
                            thead
                                th.table-head
                                th.table-head(ng-bind='Scoresheet.game.teams[0].teamInfo.name')
                                th.table-head.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-bind='tv.value')
                                th.table-head.center Pts
                                th.table-head.center TUH
                            tbody
                                tr.nf-white(ng-repeat='player in Scoresheet.game.teams[0].players')
                                    td.pad(ng-class="{'nf-green': player.active }")
                                    td.pad(ng-click='player.active = !player.active' title='Toggle active/inactive state' ng-bind='player.name' ng-class="{'active-player': player.active}")
                                    td.pad.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-bind='TrackerCtrl.getNumberOfTossupTypeForPlayer(Scoresheet.game, player, tv)')
                                    td.pad.center(ng-bind='TrackerCtrl.getPlayerTotalPoints(player)')
                                    td.pad.center
                                       input.center.input-sm.nf-input.form-control(type='number', 
                                            name='{{"player" + player.id + "_tuh"}}' min='{{TrackerCtrl.getNumberOfAnswersForPlayer(player)}}' max='{{Scoresheet.game.currentCycle.number - 1}}',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm['player' + player.id + '_tuh'].$invalid}", 
                                            ng-model='player.tuh' autocomplete='off', 
                                            title='{{ Scoresheet.scoresheetForm["player" + player.id + "_tuh"].$valid ? "" : ("This player must have at least " + TrackerCtrl.getNumberOfAnswersForPlayer(player) + " TUH and at most " + (Scoresheet.game.currentCycle.number - 1)) + " TUH" }}')

                .col-lg-6.col-md-12.col-sm-12
                    div.table-responsive.nf-table
                        table.table.table-condensed.responsive-font.player-table
                            thead
                                th.table-head
                                th.table-head(ng-bind='Scoresheet.game.teams[1].teamInfo.name')
                                th.table-head.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-bind='tv.value')
                                th.table-head.center Pts
                                th.table-head.center TUH
                            tbody
                                tr.nf-white(ng-repeat='player in Scoresheet.game.teams[1].players')
                                    td.pad(ng-class="{'nf-green': player.active }")
                                    td.pad(ng-click='player.active = !player.active' title='Toggle active/inactive state' ng-bind='player.name' ng-class="{'active-player': player.active}")
                                    td.pad.center(ng-repeat='tv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-bind='TrackerCtrl.getNumberOfTossupTypeForPlayer(Scoresheet.game, player, tv)')
                                    td.pad.center(ng-bind='TrackerCtrl.getPlayerTotalPoints(player)')
                                    td.pad.center
                                        input.center.input-sm.nf-input.form-control(type='number', 
                                            name='{{"player" + player.id + "_tuh"}}' min='{{TrackerCtrl.getNumberOfAnswersForPlayer(player)}}' max='{{Scoresheet.game.currentCycle.number - 1}}',
                                            ng-class="{'nf-error' : Scoresheet.scoresheetForm['player' + player.id + '_tuh'].$invalid}",  
                                            ng-model='player.tuh' autocomplete='off')            
            
            .row(ng-if='!Scoresheet.game.teams[0].teamInfo && !Scoresheet.game.teams[1].teamInfo')
                .col-lg-6.col-md-6.col-sm-6
                    button.nf-button.button.btn.btn-block.nf-orange(type='button' ng-click='Scoresheet.loadLastSavedScoresheet()') Load Last Scoresheet
            .row(ng-if='Scoresheet.game.teams[0].teamInfo && Scoresheet.game.teams[1].teamInfo' style='margin-bottom:20px')
                .col-lg-6.col-md-6.col-sm-6
                    button.nf-button.button.btn.btn-block.nf-orange(type='button' title='Load a new scoresheet' ng-click='Scoresheet.resetScoresheet()') New Scoresheet
                
        .col-lg-6.col-md-6.col-sm-12(ng-controller='ScoresheetTableController as ScoresheetTable' ng-show='Scoresheet.game.teams[0].teamInfo.id && Scoresheet.game.teams[1].teamInfo.id' style='overflow:auto')
            .row
                .panel.nf-panel.relative
                    table.table.table-condensed.responsive-font.table-bordered
                        thead
                            th(colspan='{{Scoresheet.game.teams[0].players.length + Scoresheet.game.teams[1].players.length + 5}}')
                                p.nf-label.left
                                    | Last Saved At: {{Scoresheet.game.lastSavedAt || 'Not Saved' | date:'medium'}}
                        thead
                            th.center.nf-label(colspan='{{Scoresheet.game.teams[0].players.length}}' ng-bind='Scoresheet.game.teams[0].teamInfo.name')
                            th
                            th
                            th
                            th
                            th
                            th.center.nf-label(colspan='{{Scoresheet.game.teams[1].players.length}}' ng-bind='Scoresheet.game.teams[1].teamInfo.name')     
                        thead            
                            tr.no-border
                                th.center.table-head.nf-white(ng-repeat='player in Scoresheet.game.teams[0].players' title='{{player.name}}' ng-bind='player.name | limitTo:2')
                                th.center.table-head Bonus
                                th.center.table-head Total
                                th.center.table-head TU # 
                                th.center.table-head Total
                                th.center.table-head Bonus
                                th.center.table-head.nf-white(ng-repeat='player in Scoresheet.game.teams[1].players' title='{{player.name}}' ng-bind='player.name | limitTo:2')

                        tbody
                            tr(ng-repeat='cycle in Scoresheet.game.cycles track by $index', 
                                ng-class="{'nf-white': $index + 1 !== Scoresheet.game.currentCycle.number, 'nf-green green-text': $index + 1 === Scoresheet.game.currentCycle.number}",
                                )
                                td.center(ng-repeat='player in Scoresheet.game.teams[0].players') 
                                    p(ng-show='!cycle.editing[player.id]' ng-click='ScoresheetTable.displayPlayerAnswerForCycle(player, $parent.$index)') 
                                        | {{ScoresheetTable.getPlayerAnswerForCycle(player, $parent.$index + 1 === Scoresheet.game.currentCycle.number ? Scoresheet.game.currentCycle : cycle).value || '-'}}
                                    .input-group(ng-if='cycle.editing[player.id]')
                                        select.form-control.nf-input(style='font-size:.9em' ng-options='pv as pv.value for pv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-model='cycle.newAnswer[player.id]')
                                            option(value='') -
                                        span.input-group-addon.nf-button.btn.nf-red.btn-sm(ng-click='cycle.editing[player.id] = false')
                                            i.fa.fa-times
                                        span.input-group-addon.nf-button.btn.nf-green.btn-sm(ng-click='ScoresheetTable.editPlayerAnswerForCycle(player.id, Scoresheet.game.teams[0].teamInfo.id, cycle.newAnswer[player.id], cycle)')
                                            i.fa.fa-check

                                td.center 
                                    p(ng-show='!cycle.editingBonus' ng-click='ScoresheetTable.displayCycleBonuses(Scoresheet.game.teams[0].teamInfo.id, $index)') 
                                        | {{Scoresheet.game.currentCycle.number > $index ? ScoresheetTable.getTeamBonusPointsForCycle(Scoresheet.game.teams[0].teamInfo.id, $index) : '-'}}
                                    div(ng-if='cycle.editingBonus && (Scoresheet.rules.bouncebacks || ScoresheetTable.getTeamThatGotTossup(cycle) === Scoresheet.game.teams[0].teamInfo.id)')
                                        .input-group.nf-margin.transition(ng-repeat='part in Scoresheet.range(Scoresheet.pointScheme.partsPerBonus) track by $index')
                                            span.input-group-addon.transition.nf-gray.no-border( 
                                                ng-class="{'nf-green' : cycle.bonusesCopy[$index] === Scoresheet.game.teams[0].teamInfo.id}",
                                                ng-click='ScoresheetTable.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[0].teamInfo, cycle.bonusesCopy)')  
                                                | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[0].teamInfo.name}}
                                        span.btn.nf-button.nf-red.nf-margin(ng-click='cycle.editingBonus = false')
                                            i.fa.fa-times
                                        span.btn.nf-button.nf-green.nf-margin(ng-click='ScoresheetTable.editCycleBonuses(cycle)')
                                            i.fa.fa-check
                                td.center 
                                    | {{Scoresheet.game.currentCycle.number > $index ? ScoresheetTable.getTeamScoreUpToCycle(Scoresheet.game, Scoresheet.game.teams[0].teamInfo.id, $index) : '-'}}
                                td.center(ng-bind='$index + 1')
                                td.center
                                    | {{Scoresheet.game.currentCycle.number > $index ? ScoresheetTable.getTeamScoreUpToCycle(Scoresheet.game, Scoresheet.game.teams[1].teamInfo.id, $index) : '-'}}
                                td.center
                                    p(ng-show='!cycle.editingBonus' ng-click='ScoresheetTable.displayCycleBonuses(Scoresheet.game.teams[1].teamInfo.id, $index)') 
                                        | {{Scoresheet.game.currentCycle.number > $index ? ScoresheetTable.getTeamBonusPointsForCycle(Scoresheet.game.teams[1].teamInfo.id, $index) : '-'}}
                                    div(ng-if='cycle.editingBonus && (Scoresheet.rules.bouncebacks || ScoresheetTable.getTeamThatGotTossup(cycle) === Scoresheet.game.teams[1].teamInfo.id)')
                                        .input-group.nf-margin.transition(ng-repeat='part in Scoresheet.range(Scoresheet.pointScheme.partsPerBonus) track by $index')
                                            span.input-group-addon.transition.nf-gray.no-border( 
                                                ng-class="{'nf-green' : cycle.bonusesCopy[$index] === Scoresheet.game.teams[1].teamInfo.id}",
                                                ng-click='ScoresheetTable.setTeamThatGotBonusPartCurrentCycle($index, Scoresheet.game.teams[1].teamInfo, cycle.bonusesCopy)')  
                                                | + {{Scoresheet.pointScheme.bonusPointValue}} for {{Scoresheet.game.teams[1].teamInfo.name}}
                                        span.btn.nf-button.nf-red.nf-margin(ng-click='cycle.editingBonus = false')
                                            i.fa.fa-times
                                        span.btn.nf-button.nf-green.nf-margin(ng-click='ScoresheetTable.editCycleBonuses(cycle)')
                                            i.fa.fa-check

                                td.center(ng-repeat='player in Scoresheet.game.teams[1].players') 
                                    p(ng-show='!cycle.editing[player.id]' ng-click='ScoresheetTable.displayPlayerAnswerForCycle(player, $parent.$index)') 
                                        | {{ScoresheetTable.getPlayerAnswerForCycle(player, $parent.$index + 1 === Scoresheet.game.currentCycle.number ? Scoresheet.game.currentCycle : cycle).value || '-'}}
                                    .input-group(ng-if='cycle.editing[player.id]')
                                        select.form-control.nf-input(style='font-size:.9em' ng-options='pv as pv.value for pv in Scoresheet.pointScheme.tossupValues | orderBy:"value":true' ng-model='cycle.newAnswer[player.id]')
                                            option(value='') -
                                        span.input-group-addon.nf-button.btn.nf-red.btn-sm(ng-click='cycle.editing[player.id] = false')
                                            i.fa.fa-times
                                        span.input-group-addon.nf-button.btn.nf-green.btn-sm(ng-click='ScoresheetTable.editPlayerAnswerForCycle(player.id, Scoresheet.game.teams[1].teamInfo.id, cycle.newAnswer[player.id], cycle)')
                                            i.fa.fa-check

                    .panel-footer.nf-panel-footer.nf-white
                        a.btn.nf-button.nf-green(data-toggle='modal' data-target='#myModal') View / Submit Match Information

            .modal#myModal(role='dialog')
                .modal-dialog.modal-lg
                    .modal-content.nf-modal-content
                        .modal-header.nf-gray(style='border-bottom:none')
                            button.btn.nf-button.button-outline.button-outline-red(data-dismiss='modal') Close
                            button.nf-button.btn.button-outline.button-outline-green.right(type='submit' ng-disabled='Scoresheet.game.currentCycle.number === 1 || Scoresheet.scoresheetForm.$invalid' ng-show='!Scoresheet.game.submitted')
                                | Submit Match
                            button.nf-button.btn.nf-orange.right(type='button' ng-show='Scoresheet.game.submitted' ng-click='Scoresheet.revertScoresheetSubmission()')
                                | Revert submission
                        .modal-body.nf-white
                            .panel(style='border:none')
                                .nf-panel-heading
                                    .row
                                        .col-lg-12.col-sm-12.col-md-12
                                            label.nf-label Match Summary
                                .nf-panel-body.panel-body.nf-white
                                    .row
                                        .col-lg-6.col-md-6.col-sm-6(style='text-align:left')
                                            .row.nf-margin
                                                label.nf-label(style='text-decoration:underline' ng-bind='Scoresheet.game.teams[0].teamInfo.name')
                                            .row.nf-margin
                                                label.nf-label 
                                                    p.inline Score: 
                                                    p.inline {{ScoresheetTable.getTeamScoreUpToCycle(Scoresheet.game, Scoresheet.game.teams[0].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}}
                                            .row.nf-margin(ng-if='Scoresheet.rules.bouncebacks')
                                                label.nf-label 
                                                    p.inline Bouncebacks: 
                                                    p.inline {{ScoresheetTable.getTeamBouncebacks(Scoresheet.game, Scoresheet.game.teams[0].teamInfo.id)}}
                                            .row
                                                .col-md-6.col-sm-6
                                                    label.nf-label.btn-block
                                                        p TUs with no bonuses
                                                .col-md-6.col-sm-6
                                                    input.form-control.nf-input(type='number' min='0' max='{{Scoresheet.game.currentCycle.number - 1}}' placeholder='Tossups answered correctly that didn\'t lead to bonuses.', 
                                                        ng-model='Scoresheet.game.teams[0].overtime',
                                                        name='ot1',
                                                        title='Tossups answered correctly that didn\'t lead to bonuses.'
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.ot1.$invalid}", 
                                                    )
                                                
                                        .col-lg-6.col-md-6.col-sm-6(style='text-align:right')
                                            .row.nf-margin
                                                label.nf-label(style='text-decoration:underline' ng-bind='Scoresheet.game.teams[1].teamInfo.name')
                                            .row.nf-margin
                                                label.nf-label 
                                                    p.inline Score: 
                                                    p.inline {{ScoresheetTable.getTeamScoreUpToCycle(Scoresheet.game, Scoresheet.game.teams[1].teamInfo.id, Scoresheet.game.currentCycle.number - 1)}}
                                            .row.nf-margin(ng-if='Scoresheet.rules.bouncebacks')
                                                label.nf-label 
                                                    p.inline Bouncebacks: 
                                                    p.inline {{ScoresheetTable.getTeamBouncebacks(Scoresheet.game, Scoresheet.game.teams[1].teamInfo.id)}}
                                            .row
                                                .col-md-6.col-sm-6
                                                    input.form-control.nf-input(type='number' min='0' max='{{Scoresheet.game.currentCycle.number - 1}}' placeholder='Tossups answered correctly that didn\'t lead to bonuses.', 
                                                        ng-model='Scoresheet.game.teams[1].overtime',
                                                        name='ot2',
                                                        title='Tossups answered correctly that didn\'t lead to bonuses.'
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.ot2.$invalid}", 
                                                    )
                                                .col-md-6.col-sm-6
                                                    label.nf-label.btn-block 
                                                        p TUs with no bonuses                         
                                    br
                                    br
                                    
                                    .row
                                        .col-lg-6.col-md-6.col-sm-6
                                            .row.nf-margin
                                                label.nf-label 
                                                    p Tossups Heard: {{Scoresheet.game.currentCycle.number - 1}}
                                    
                                    
                                    hr
                                                                                
                                    div(class="row")
                                        div(class="col-lg-12 col-md-12 col-sm-12")
                                            div(class="row")
                                                div(class="col-md-6 col-sm-6")
                                                    label(class="label nf-label btn-block" style='float:right') Round
                                                div(class="col-md-6 col-sm-6")
                                                    input(type="number" min='0' class="form-control nf-input " name="round" placeholder="Round", 
                                                        ng-model='Scoresheet.game.round',
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.round.$invalid}"
                                                    )
                                    br                        

                                    div(class="row")
                                        div(class="col-lg-12 col-md-12 col-sm-12")
                                            div(class="row")
                                                div(class="col-md-6 col-sm-6")
                                                    label(class="label nf-label btn-block" style='float:right') Room
                                                div(class="col-md-6 col-sm-6")
                                                    input(type="text" class="form-control nf-input " name="room" placeholder="Room", 
                                                        ng-model='Scoresheet.game.room',
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.room.$invalid}"
                                                    )
                                    br
                                    
                                    div(class="row")
                                        div(class="col-lg-12 col-md-12 col-sm-12")
                                            div(class="row")
                                                div(class="col-md-6 col-sm-6")
                                                    label(class="label nf-label btn-block" style='float:right') Moderator
                                                div(class="col-md-6 col-sm-6")
                                                    input(type="text" class="form-control nf-input " name="moderator" placeholder="Moderator", 
                                                        ng-model='Scoresheet.game.moderator', 
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.moderator.$invalid}"
                                                    )
                                    br
                                    div(class="row")
                                        div(class="col-lg-12 col-md-12 col-sm-12")
                                            div(class="row")
                                                div(class="col-md-6 col-sm-6")
                                                    label(class="label nf-label btn-block" style='float:right') Packet
                                                div(class="col-md-6 col-sm-6")
                                                    input(type="text" class="form-control nf-input " name="packet" placeholder="Packet", 
                                                        ng-model='Scoresheet.game.packet',
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.packet.$invalid}"
                                                    )
                                    br
                                    div(class="row")
                                        div(class="col-lg-12 col-md-12 col-sm-12")
                                            div(class="row")
                                                div(class="col-md-6 col-sm-6")
                                                    label(class="label nf-label btn-block" style='float:right' title='Select all phases that you want this game to count for.') Phases* ({{Scoresheet.game.phases.length}})
                                                        p.warning-text(ng-show='Scoresheet.scoresheetForm.phases.$invalid') Select a phase(s).
                                                div(class="col-md-6 col-sm-6")
                                                    select(multiple required class="form-control nf-input no-overflow" name='phases' ng-attr-size='{{Scoresheet.phases.length}}', 
                                                        ng-options='phase.name for phase in Scoresheet.phases | orderBy:"name" track by phase.id' ng-model='Scoresheet.game.phases',
                                                        ng-class="{'nf-error' : Scoresheet.scoresheetForm.phases.$invalid}"
                                                    )
                                                        
                                    br
                                    
                                    div(class='row')
                                        div(class="col-lg-12 col-md-12 col-sm-12")
                                            div(class="row")
                                                div(class="col-md-4 col-sm-4")
                                                    label(class="label nf-label btn-block" style='float:right;') Notes
                                                div(class="col-md-8 col-sm-8")
                                                    textarea(class="form-control nf-input " name="notes" placeholder="Notes" style='min-height:200px' ng-model='Scoresheet.game.notes')
                        