//TODO Change the errors in here to be error-text 

div(class="panel nf-panel" ng-show='Game.loadedGame.id')
    .nf-panel-heading
        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                button.nf-button.nf-orange.btn-md.btn(ng-click='Game.emptyLoadedGame()')
                    i.fa.fa-arrow-left
                button.nf-button.btn-md.btn.nf-blue(ng-click='Game.loadedGame.editing = true' ng-show='!Game.loadedGame.editing' ng-if='tournamentContext.admin')
                    i.fa.fa-pencil
                button.nf-button.btn-md.btn.nf-red(ng-click='Game.resetLoadedGame(); Game.loadedGame.editing = false' ng-show='Game.loadedGame.editing' ng-if='tournamentContext.admin')
                    i.fa.fa-times
                
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                button.nf-button.nf-red.btn-md.btn.right(title='Delete Game.' ng-if='tournamentContext.admin' ng-click='Game.deleteGame(Game.loadedGame.id)')
                    i.fa.fa-trash

    .nf-panel-body.panel-body
            form(name="Game.editGameForm" novalidate ng-class='{"readonly-form": !Game.loadedGame.editing}' ng-init='Game.loadedGame.editing = false')
                div(class="row")
                        div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
                            select(required class='form-control nf-input' ng-model='Game.loadedGame.teams[0].teamInfo' ng-change='Game.addTeam(Game.loadedGame.teams[0])',
                                ng-options='team.name for team in Game.teams | orderBy:"name" | preventSameMatchTeams:Game.loadedGame.teams[1].teamInfo.id track by team.id'
                                )
                                option(disabled value='') Choose a Team

                        div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
                            select(required class='form-control nf-input' ng-model='Game.loadedGame.teams[1].teamInfo' ng-change='Game.addTeam(Game.loadedGame.teams[1])', 
                                ng-options='team.name for team in Game.teams | orderBy:"name" | preventSameMatchTeams:Game.loadedGame.teams[0].teamInfo.id track by team.id')
                                option(disabled value='') Choose a Team
                            
                br

                div(class="row")
                    
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class='panel-default nf-panel')
                            table(class='table')                                   
                                thead
                                    tr
                                        th(class='no-border nf-label')
                                            p.left(ng-bind='Game.loadedGame.teams[0].teamInfo.name') 
                                        th(class='center no-border nf-label')
                                            p.left TUH
                                        th(class='center no-border nf-label' ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value":true ')
                                            p.left(ng-bind='point.value')
                                        th(class='center no-border nf-label') 
                                            p.left Total
                                tbody
                                    tr(ng-repeat='player in Game.loadedGame.teams[0].players track by player.id' class='nf-white')
                                        td(class='vertical-center' title='{{player.name}}' ng-bind='player.name')
                                        td
                                            input.nf-input.tuh(type='number' min='{{Game.MatchUtil.numPlayerAnswers(player)}}' max='{{Game.loadedGame.tuh !== null ? Game.loadedGame.tuh : Number.POSITIVE_INFINITY}}' class='form-control input-sm' ng-model='player.tuh' ng-blur='player.tuh = (player.tuh === null ? 0 : player.tuh)', 
                                            name='{{player.id + "_tuh"}}' ng-class="{'nf-error' : Game.editGameForm[player.id + '_tuh'].$invalid}") 
                                        td(ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value"')
                                            input.nf-input.point-value(type='number' ng-pattern='/^[0-9]*$/' min='0'
                                                class='form-control input-sm' ng-model='player.points[point.value]'
                                                ng-blur='player.points[point.value] = (player.points[point.value] === null ? 0 : player.points[point.value])' name='{{player.id + point.value}}'
                                                ng-class="{'error-text' : Game.editGameForm[player.id + point.value].$invalid, 'readonly' : player.tuh <= 0 || Game.editGameForm[player.id + '_tuh'].$invalid}")
                                        td 
                                            div(tabindex="-1" class='form-control readonly input-sm' ng-bind='Game.MatchUtil.pointSum(player.points)')
                                        
                    div(class="col-lg-6 col-md-6 col-sm-6")
                        div(class='panel-default nf-panel')
                            table(class='table')                                   
                                thead
                                   tr
                                    th(class='no-border nf-label')
                                        p.left(ng-bind='Game.loadedGame.teams[1].teamInfo.name') 
                                    th(class='center no-border nf-label')
                                        p.left TUH
                                    th(class='center no-border nf-label' ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value":true ')
                                        p.left(ng-bind='point.value')
                                    th(class='center no-border nf-label') 
                                        p.left Total
                                tbody
                                    tr(ng-repeat='player in Game.loadedGame.teams[1].players track by player.id' class='nf-white')
                                        td(class='vertical-center' title='{{player.name}}' ng-bind='player.name')
                                        td
                                            input.nf-input.tuh(type='number' min='{{Game.MatchUtil.numPlayerAnswers(player)}}' max='{{Game.loadedGame.tuh !== null ? Game.loadedGame.tuh : Number.POSITIVE_INFINITY}}' class='form-control input-sm' ng-model='player.tuh' ng-blur='player.tuh = (player.tuh === null ? 0 : player.tuh)', 
                                            name='{{player.id + "_tuh"}}' ng-class="{'error-text' : Game.editGameForm[player.id + '_tuh'].$invalid}") 
                                        td(ng-repeat='point in Game.pointScheme.tossupValues | orderBy: "value"')
                                            input.nf-input.point-value(type='number' ng-pattern='/^[0-9]*$/' min='0' class='form-control input-sm' ng-model='player.points[point.value]' ng-blur='player.points[point.value] = (player.points[point.value] === null ? 0 : player.points[point.value])' name='{{player.id + point.value}}' ng-class="{'error-text' : Game.editGameForm[player.id + point.value].$invalid, 'readonly' : player.tuh <= 0 || Game.editGameForm[player.id + '_tuh'].$invalid}")
                                        td 
                                            div(tabindex="-1" class='form-control readonly input-sm' ng-bind='Game.MatchUtil.pointSum(player.points)')

                br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
                        div(class="row")
                            div(class="col-sm-6 col-md-6 col-xs-12")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text': !Game.MatchUtil.isValidScore(Game.loadedGame.teams[0].score)}") Team 1 Score *
                            div(class="col-md-6 col-sm-6 col-md-6")
                                input(required type="number" name='leftScore' ng-class="{'error-text' : Game.loadedGame.leftScore.$invalid ||  !Game.MatchUtil.isValidScore(Game.loadedGame.teams[0].score)}"  class="form-control nf-input" placeholder="{{(Game.loadedGame.teams[0].teamInfo.name || 'Team 1') + ' Score'}}" ng-model='Game.loadedGame.teams[0].score')
                        br
                        div(class='row' ng-if='Game.rules.bouncebacks')
                            div(class="col-md-6 col-sm-6 col-xs-12")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text' : Game.loadedGame.leftbounceback.$invalid}") Bouncebacks
                            div(class="col-md-6 col-sm-6 col-xs-12")
                                input(type="number" min='0' class="form-control nf-input " name="leftbounceback" placeholder="Bounceback Points" ng-model='Game.loadedGame.teams[0].bouncebacks' ng-class="{'error-text' : Game.loadedGame.leftbounceback.$invalid}")
                        br
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
                        div(class="row reorder-xs")
                            div(class="col-md-6 col-sm-6")
                                input(required type="number" class="form-control nf-input " name="rightScore" ng-class="{'error-text' : Game.editGameForm.rightScore.$invalid || !Game.MatchUtil.isValidScore(Game.loadedGame.teams[1].score)}" placeholder="{{(Game.loadedGame.teams[1].teamInfo.name || 'Team 2') + ' Score'}}" ng-model='Game.loadedGame.teams[1].score')
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text': !Game.MatchUtil.isValidScore(Game.loadedGame.teams[1].score)}") Team 2 Score *
                        br
                        div(class="row reorder-xs" ng-if='Game.rules.bouncebacks')
                            div(class="col-md-6 col-sm-6")
                                input(type="number" min='0' class="form-control nf-input " name="rightbounceback" ng-class="{'error-text' : Game.editGameForm.rightbounceback.$invalid}" placeholder="Bounceback Points" ng-model='Game.loadedGame.teams[1].bouncebacks')
                            div(class="col-md-6 col-sm-6")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text' : Game.editGameForm.rightbounceback.$invalid}") Bouncebacks
                        br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-12")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text' : Game.editGameForm.overtimetu1.$invalid}") TUs with no bonuses
                            div(class="col-md-6 col-sm-6 col-xs-12")
                                input(type="number" min='0' class="form-control nf-input " title='Tossups answered correctly that didn\'t lead to bonuses.' name="overtimetu1" placeholder="Tossups answered correctly that didn\'t lead to bonuses."
                                    ng-model='Game.loadedGame.teams[0].overtime'
                                    ng-class="{'error-text' : Game.editGameForm.overtimetu1.$invalid}")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-6")
                        div(class="row reorder-xs")
                            div(class="col-md-6 col-sm-6 col-xs-12")
                                input(type="number" min='0' title='Tossups answered correctly that didn\'t lead to bonuses.' class="form-control nf-input " name="overtimetu2" placeholder="Tossups answered correctly that didn\'t lead to bonuses." ng-model='Game.loadedGame.teams[1].overtime' ng-class="{'error-text' : Game.editGameForm.overtimetu2.$invalid}")
                            div(class="col-md-6 col-sm-6 col-xs-12")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text' : Game.editGameForm.overtimetu2.$invalid}") TUs with no bonuses

                br

                .row
                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .row
                            .col-md-6.col-sm-6.col-xs-12
                                label.label.nf-label.btn-block(style='float:right' ng-class='{"warning-text": !Game.MatchUtil.isValidPPB(Game.MatchUtil.teamPPB(Game.loadedGame.teams[0]))}') Bonuses / PPB 
                            .col-md-6.col-sm-6.col-xs-12
                                .form-control.readonly.nf-input
                                    p.inline.nf-margin {{Game.MatchUtil.teamBonusPoints(Game.loadedGame.teams[0])}}
                                    p.inline /
                                    p.inline.nf-margin(ng-class='{"warning-text": !Game.MatchUtil.isValidPPB(Game.MatchUtil.teamPPB(Game.loadedGame.teams[0]))}') {{Game.MatchUtil.teamPPB(Game.loadedGame.teams[0]) | number:2}}

                    .col-lg-6.col-md-6.col-sm-6.col-xs-6
                        .row.reorder-xs
                            .col-md-6.col-sm-6.col-xs-12
                                .form-control.readonly.nf-input
                                    p.inline.nf-margin {{Game.MatchUtil.teamBonusPoints(Game.loadedGame.teams[1])}}
                                    p.inline /
                                    p.inline.nf-margin(ng-class='{"warning-text": !Game.MatchUtil.isValidPPB(Game.MatchUtil.teamPPB(Game.loadedGame.teams[1]))}') {{Game.MatchUtil.teamPPB(Game.loadedGame.teams[1]) | number:2}}
                            .col-md-6.col-sm-6.col-xs-12
                                label.label.nf-label.btn-block(style='float:right' ng-class='{"warning-text": !Game.MatchUtil.isValidPPB(Game.MatchUtil.teamPPB(Game.loadedGame.teams[1]))}') Bonuses / PPB 
                br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text' : Game.editGameForm.round.$invalid}") Round
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                input(required type="number" min='1' class="form-control nf-input " name="round" placeholder="Round" ng-model='Game.loadedGame.round' ng-class="{'error-text' : Game.editGameForm.round.$invalid}")
                br

                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                label(class="label nf-label btn-block" style='float:right' ng-class="{'error-text' : Game.editGameForm.tossupsheard.$invalid}") Total TUH
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                input(type="number" min='{{Game.MatchUtil.minPossibleTossupsHeard(Game.loadedGame)}}' class="form-control nf-input " name="tossupsheard" placeholder="Tossups Heard" ng-model='Game.loadedGame.tuh' ng-class="{'error-text' : Game.editGameForm.tossupsheard.$invalid}")
                
                br
                
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                label(class="label nf-label btn-block" style='float:right') Room
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                input(type="text" class="form-control nf-input " name="room" placeholder="Room" ng-model='Game.loadedGame.room')
                br
                
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                label(class="label nf-label btn-block" style='float:right') Moderator
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                input(type="text" class="form-control nf-input " name="moderator" placeholder="Moderator" ng-model='Game.loadedGame.moderator')
                br
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                label(class="label nf-label btn-block" style='float:right') Packet
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                input(type="text" class="form-control nf-input " name="packet" placeholder="Packet" ng-model='Game.loadedGame.packet')
                br
                div(class="row")
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                label(class="label nf-label btn-block" style='float:right' data-toggle='tooltip' data-placement='left' title='Select all phases that you want this game to count for.') Phases* ({{Game.loadedGame.phases.length}})
                                    p.error-text.wrap(ng-show='Game.editGameForm.phases.$invalid') Please select a phase(s).
                            div(class="col-md-6 col-sm-6 col-xs-6")
                                select(multiple required class="form-control nf-input no-overflow" name='phases' ng-attr-size='{{Game.phases.length}}' ng-options='phase.name for phase in Game.phases | orderBy:"name" track by phase.id' ng-model='Game.loadedGame.phases')
                                    
                br
                
                div(class='row')
                    div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
                        div(class="row")
                            div(class="col-md-4 col-sm-4 col-xs-4")
                                label(class="label nf-label btn-block" style='float:right;') Notes
                            div(class="col-md-8 col-sm-8 col-xs-8")
                                textarea(class="form-control nf-input " name="notes" placeholder="Notes" style='min-height:200px' ng-model='Game.loadedGame.notes')
                
                hr
                
                button(type="submit" class="btn btn-md nf-green nf-button" ng-if='tournamentContext.admin' ng-disabled='Game.editGameForm.$invalid' ng-click='Game.editLoadedGame()' ng-show='Game.loadedGame.editing') Save Changes
    
    .nf-panel-footer.panel-footer.nf-gray.no-border
        h5(ng-bind='"Added by: " + Game.loadedGame.addedBy')