extends layout

block titleContent
    title Signup for #{tournament.tournament_name} | Neg 5

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')


block content

    div(class="jumbotron vertical-center")
        div(class="container")
            div(style="margin:20px; margin-bottom:50px")
            div(class="row")
                div(class="col-xs-12")
                    if tournament.openRegistration
                        div(class="alert alert-success")
                            p Registration for this tournament is open!
                    else
                        div(class="alert alert-danger")
                            p Registration for this tournament is closed!

                    if tournamentd != null
                        div(class="alert alert-success")
                            p Currently logged in as: #{tournamentd.name} (#{tournamentd.email})

                    else
                        div(class="alert alert-danger")
                            p Not logged in
                                a(class="btn btn-stats btn-sm" href='/' target='_blank') Log In
                                    i(class='fa fa-sign-in' style='margin-left:10px')

            div(class="row")
                div(class="col-xs-12" style="text-align:center")
                    h2(class="title") #{tournament.tournament_name}

            br

            div(class="row")
                div(class="col-xs-6")
                    h2(class="title") #{tournament.tournament_name} Information.
                    div(class="panel-body")
                        div(class="row")
                            div(class="smallbox")

                                div(class="form-group")
                                    input(readonly,
                                        type="text",
                                        value="Name: #{tournament.tournament_name}",
                                        class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                        style="background-color:#363B40")
                                div(class="form-group")
                                    input(readonly,
                                        type="text",
                                        value="Location: #{tournament.location}",
                                        class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                        style="background-color:#363B40")

                                div(class="form-group")
                                    if tournament.date != null
                                        - var date = (tournament.date.getMonth() + 1) + "/" + tournament.date.getDate() + "/" + tournament.date.getFullYear()
                                        input(readonly,
                                            type="text",
                                            value="Date: #{date}",
                                            class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                            style="background-color:#363B40")

                                div(class="form-group")
                                    input(readonly,
                                        type="text",
                                        value="Question Set: #{tournament.questionSet}",
                                        class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                        style="background-color:#363B40")

                                div(class="form-group")
                                    if tournament.openRegistration
                                        input(readonly,
                                            type="text",
                                            value="Registration is open",
                                            class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                            style="background-color:#363B40")
                                    else
                                        input(readonly,
                                            type="text",
                                            value="Registration is closed",
                                            class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                            style="background-color:#363B40")

                                div(class="form-group")
                                    textarea(readonly,
                                        class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                        style="background-color:#363B40", rows="10") Description:&#10#{tournament.description}

                div(class="col-xs-6")
                    if tournamentd != null
                        h2(class="title")
                            | Sign up for #{tournament.tournament_name} here.
                            | If you've previously registered for this tournament, this registration will update any previous registration associated with this account and this tournament.
                    else
                        h2(class="title")
                            | Sign up for #{tournament.tournament_name} here.
                            | Since you're not logged in, you will need to reenter all registration information if you need to
                            | update anything.

                    div(class="panel-body")
                        div(class="row")
                            div(class="smallbox")
                                if tournament.openRegistration
                                    if !prevReg
                                        form(id="submitsignup" method="post" action="/t/" + tournament.shortID + "/signup/submit")
                                            div(class="form-group")
                                                input(
                                                    type="text",
                                                    name="team_name",
                                                    placeholder="Team Name",
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    style="background-color:#363B40"
                                                )
                                            div(class="form-group")
                                                input(
                                                    type="number",
                                                    name="teamnumber",
                                                    placeholder="Number of Teams",
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    id="team-number-s"
                                                    style="background-color:#363B40"
                                                )
                                            div(class="form-group")
                                                if director != null
                                                    input(
                                                        class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                        placeholder="Email",
                                                        value="#{director.email}",
                                                        name="email",
                                                        style="background-color:#363B40"
                                                    )
                                                else
                                                    input(
                                                        class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                        placeholder="Email",
                                                        name="email",
                                                        style="background-color:#363B40"
                                                    )
                                            div(class="form-group")
                                                textarea(
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    placeholder="Other Information",
                                                    name="otherinfo",
                                                    rows="10",
                                                    style="background-color:#363B40"
                                                )
                                            button(type="button" class="btn btn-lg btn-stats no-border-radius" id="submitregistration") Confirm Registration
                                            div(class="form-group" style="text-align:center")
                                                br
                                                br
                                                div(class="form-control nf-input input-lg center-text no-border-radius tournament-info-field" id="tregmessage" style="background-color:#363B40")
                                    else
                                        form(id="submitsignup" method="post" action="/t/" + tournament.shortID + "/signup/submit")
                                            div(class="form-group")
                                                input(
                                                    type="text",
                                                    name="team_name",
                                                    placeholder="Team Name",
                                                    value="#{prevReg.teamName}",
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    style="background-color:#363B40"
                                                )
                                            div(class="form-group")
                                                input(
                                                    type="number",
                                                    name="teamnumber",
                                                    placeholder="Number of Teams",
                                                    value="#{prevReg.numTeams}",
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    id="team-number-s",
                                                    style="background-color:#363B40"
                                                )
                                            div(class="form-group")
                                                input(
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    placeholder="Email",
                                                    value="#{prevReg.email}",
                                                    name="email",
                                                    style="background-color:#363B40"
                                                )
                                            div(class="form-group")
                                                textarea(
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    placeholder="Other Information",
                                                    name="otherinfo",
                                                    rows="10",
                                                    style="background-color:#363B40"
                                                ) #{prevReg.message}
                                            button(type="button" class="btn btn-lg btn-stats no-border-radius" id="submitregistration") Confirm Registration
                                            div(class="form-group" style="text-align:center")
                                                br
                                                br
                                                div(
                                                    class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                                    style="background-color:#363B40",
                                                    id="tregmessage"
                                                    )

                                else
                                    div(class="form-group")
                                        input(readonly,
                                            type="text",
                                            placeholder="Registration for this tournament is closed",
                                            class="form-control nf-input input-lg center-text no-border-radius tournament-info-field",
                                            style="background-color:#363B40"
                                        )

block scripts
    script(src="/js/tournament-configuration.js")
