extends ../layout

block titleContent
    title Neg 5 | Quizbowl for the Cloud


block extrastylesheets
    //- link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    

block content

    nav.navbar.navbar-default.top-nav-bar.navbar-fixed-top.nf-dark-blue.nf-shadow(role='navigation')
        .navbar-header
            p.navbar-brand Welcome to Neg 5!
        div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li(class="list-element")
                    a(style='color:white;' href='https://github.com/mostafab/neg5')
                        i.fa.fa-github.fa-2x

    div(class="vertical-center-container" style='background-color:transparent;overflow:hidden;' ng-app='IndexApp')
        div.container(ng-controller='IndexController as Index')

            div(style='text-align:center')
                img(src='img/logo_edited.png' style='width:300px;height:auto')
            
            .tab-content
                div
                    
                        .row
                            .col-lg-12.col-md-12.col-sm-12(ng-show='!Index.loggingIn' ng-cloak)
                                .panel-body.nf-panel-body
                                    form.center(name='registrationForm' novalidate ng-submit='Index.register()')
                                            .row
                                                
                                                .form-group.input-group.col-lg-12.col-md-12.col-sm-12
                                                    input.form-control.nf-input.input-md.btn-shadow(type='text' autocomplete='off' name='username' placeholder='Username (between 5 and 20 characters)'
                                                        ng-model='Index.newUser.username' ng-minlength='5' ng-maxlength='20' ng-pattern='/^[a-zA-Z0-9]*$/' required)
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.username.$invalid && !registrationForm.username.$pristine, "nf-green" : registrationForm.username.$valid}')
                                                        
                                            .row
                                                
                                                .form-group.input-group.col-lg-12.col-md-12.col-sm-12
                                                    input.form-control.nf-input.input-md.btn-shadow(type='text' autocomplete='off' name='name' placeholder='Name (optional)'
                                                        ng-model='Index.newUser.name' ng-maxlength='50')
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.name.$invalid, "nf-green" : registrationForm.name.$valid}')
                                                            
                                            .row
                                                
                                                .form-group.input-group.col-lg-12.col-md-12.col-sm-12
                                                    input.form-control.nf-input.input-md.btn-shadow(type='email' autocomplete='off' name='email' placeholder='Email (optional)'
                                                        ng-model='Index.newUser.email' ng-maxlength='50')
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.email.$invalid, "nf-green" : registrationForm.email.$valid}')
                                                           
                                            .row
                                                
                                                .form-group.input-group.col-lg-12.col-md-12.col-sm-12
                                                    input.form-control.nf-input.input-md.btn-shadow(type='password' name='password' placeholder='Password (at least 5 characters long)'
                                                        ng-model='Index.newUser.password' ng-minlength='5' ng-maxlength='20' required)
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.password.$invalid && !registrationForm.password.$pristine, "nf-green" : registrationForm.password.$valid}')
                                                        
                                            .row
                                                
                                                .form-group.input-group.col-lg-12.col-md-12.col-sm-12
                                                    input.form-control.nf-input.input-md.btn-shadow(type='password' placeholder='Confirm Password (must match)'
                                                        ng-model='Index.newUser.passwordConfirm' required)
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : Index.newUser.passwordConfirm !== Index.newUser.password, "nf-green" : Index.newUser.passwordConfirm === Index.newUser.password}')
                                                        
                                            .row
                                                button(type="submit" class="btn btn-md nf-button nf-green")
                                                    | Register
                                            
                                            br
                                            
                                            a(href='#' ng-click='Index.loggingIn = true')
                                                | Go back

                            .col-lg-12.col-md-12.col-sm-12(ng-show='Index.loggingIn')
                                .panel-body.nf-panel-body
                                    form.center(name="loginForm" novalidate ng-submit='Index.login()')
                                        .row
                                             
                                            .form-group.input-group
                                                input(type="text" name='username' ng-model='Index.user.username' class="form-control nf-input input-md center" placeholder="Username or Email" 
                                                            ng-minlength='5' ng-maxlength='50' ng-pattern='/^[a-zA-Z0-9@.]*$/' required)
                                                span(ng-class='{"nf-red" : loginForm.username.$invalid && !loginForm.username.$pristine, "nf-green" : loginForm.username.$valid}' class="input-group-addon nf-button")
                                                    
                                        .row
                                            
                                            .form-group.input-group
                                                input.form-control.nf-input.input-md.center(type='password' name='password' ng-model='Index.user.password' placeholder='Password'
                                                            ng-minlength='5' ng-maxlength='20' required)
                                                span(ng-class='{"nf-red" : loginForm.password.$invalid && !loginForm.password.$pristine, "nf-green" : loginForm.password.$valid}' class="input-group-addon btn-md nf-button")
                                                    //- i.fa.fa-lock
                                        .row
                                            button.inline(type="submit" class="btn btn-md nf-button nf-green")
                                                | Login
                                        
                                            // p.nf-panel-heading.inline Or use
                                            
                                            // .nf-margin.inline
                                            //     a.nf-button.btn.nf-blue.btn-md(role='button' href='/auth/facebook')
                                            //         i.fa.fa-facebook-official(style='margin:0')
                                            //     a.nf-button.btn.nf-red.btn-md.nf-margin(role='button' href='/auth/google')
                                            //         i.fa.fa-google(style='margin:0')
                                        
                                        br
                                        
                                        p
                                           | Don't have an account? 
                                           a(href='#' ng-click='Index.loggingIn = false') 
                                                | Register
            
            .nf-toast(style='position:fixed' class='angular-animate' ng-show='Index.toastMessage !== null')
                .nf-toast-content.nf-button.btn(ng-class="{'nf-red': Index.toastMessage.success === false, 'nf-green': Index.toastMessage.success === true, 'nf-orange' : Index.toastMessage.success !== true && Index.toastMessage.success !== false}")
                    i.fa(ng-class="{'fa-check': Index.toastMessage.success === true, 'fa-times': Index.toastMessage.success === false, 'fa-circle-o-notch fa-spin fa-fw' : Index.toastMessage.success !== true && Index.toastMessage.success !== false}")
                    | {{Index.toastMessage.message}}

        div(class='row')
            div(class='col-md-4')
            div(class='col-md-4')
                script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                // Ad 1
                ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-7416199853732232', data-ad-slot='9649668904', data-ad-format='auto')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});

block scripts
    if minifyJs === false
        script(src="/javascript/es5/index.es5.js")
