extends ../layout

block titleContent
    title Neg 5 | Quizbowl for the Cloud


block extrastylesheets
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    

block content

    nav.navbar.navbar-default.top-nav-bar.navbar-fixed-top.nf-dark-blue.nf-shadow(role='navigation')
        .navbar-header
            p.navbar-brand Quizbowl.io
        div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="/about" style="color:white;") About
                li(class="list-element")
                    a(style='color:white;' href='#')
                        i.fa.fa-github.fa-2x
                
    +navbar-bottom

    div(class="jumbotron vertical-center-container" style='background-color:transparent;overflow:hidden;' ng-app='IndexApp')
        div.container(ng-controller='IndexController as Index')

            .panel-body.nf-dark-blue
                .row                
                    ul.nav-bar
                        li.center.col-lg-6.col-sm-6
                            a(ng-click='Index.onRegister = true; Index.onLogin = false' style='font-size:1.3em' ng-class='{"green-text" : Index.onRegister}') Register
                        li.active.center.col-lg-6.col-sm-6
                            a(ng-click='Index.onLogin = true;Index.onRegister = false' style='font-size:1.3em' ng-class='{"green-text" : Index.onLogin}') Login
            
            .tab-content
                div
                    .panel.nf-panel
                        .row
                            .col-lg-12(ng-show='Index.onRegister')
                                .panel-body.nf-panel-body.nf-shadow.nf-blue
                                    form.center(name='registrationForm' novalidate ng-submit='Index.register()')
                                            .row
                                                label.label.nf-label.col-lg-5.col-md-5 Username
                                                .form-group.input-group.col-lg-6.col-md-6
                                                    input.form-control.nf-input.input-md.btn-shadow(type='text' autocomplete='off' name='username' placeholder='Username (between 5 and 20 characters)'
                                                        ng-model='Index.newUser.username' ng-minlength='5' ng-maxlength='20' ng-pattern='/^[a-zA-Z0-9]*$/' required)
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.username.$invalid && !registrationForm.username.$pristine, "nf-green" : registrationForm.username.$valid}')
                                                        i.fa.fa-user   
                                            .row
                                                label.label.nf-label.col-lg-5.col-md-5 Name
                                                .form-group.input-group.col-lg-6.col-md-6
                                                    input.form-control.nf-input.input-md.btn-shadow(type='text' autocomplete='off' name='name' placeholder='Name (optional)'
                                                        ng-model='Index.newUser.name' ng-maxlength='50')
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.name.$invalid, "nf-green" : registrationForm.name.$valid}')
                                                        i.fa.fa-user    
                                            .row
                                                label.label.nf-label.col-lg-5.col-md-5 Email
                                                .form-group.input-group.col-lg-6.col-md-6
                                                    input.form-control.nf-input.input-md.btn-shadow(type='email' autocomplete='off' name='email' placeholder='Email (optional)'
                                                        ng-model='Index.newUser.email' ng-maxlength='50')
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.email.$invalid, "nf-green" : registrationForm.email.$valid}')
                                                        i.fa.fa-user    
                                            .row
                                                label.label.nf-label.col-lg-5.col-md-5 Password
                                                .form-group.input-group.col-lg-6.col-md-6
                                                    input.form-control.nf-input.input-md.btn-shadow(type='password' name='password' placeholder='Password (at least 5 characters long)'
                                                        ng-model='Index.newUser.password' ng-minlength='5' ng-maxlength='20' required)
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : registrationForm.password.$invalid && !registrationForm.password.$pristine, "nf-green" : registrationForm.password.$valid}')
                                                        i.fa.fa-lock     
                                            .row
                                                label.label.nf-label.col-lg-5.col-md-5 Confirm Password
                                                .form-group.input-group.col-lg-6.col-md-6
                                                    input.form-control.nf-input.input-md.btn-shadow(type='password' placeholder='Confirm Password (must match)'
                                                        ng-model='Index.newUser.passwordConfirm' required)
                                                    span.input-group-addon.btn.btn-md.nf-button(ng-class='{"nf-red" : Index.newUser.passwordConfirm !== Index.newUser.password, "nf-green" : Index.newUser.passwordConfirm === Index.newUser.password}')
                                                        i.fa.fa-lock
                                            .row
                                                .col-lg-5.col-md-5
                                                .form-group.input-group.col-lg-6.col-md-6
                                                    button.right(type="submit" class="btn btn-md nf-button nf-green")
                                                        i.fa.fa-check

                            .col-lg-12(ng-show='Index.onLogin' ng-init='Index.onLogin = true')
                                .panel-body.nf-panel-body.nf-shadow.nf-blue
                                    form.center(name="loginForm" novalidate ng-submit='Index.login()')
                                        .row
                                            label.label.nf-label.col-lg-5.col-md-5 Username 
                                            .form-group.input-group.col-lg-6.col-md-6
                                                input(type="text" name='username' ng-model='Index.user.username' class="form-control nf-input input-md" placeholder="Between five and twenty alphanumeric characters" 
                                                            ng-minlength='5' ng-maxlength='20' ng-pattern='/^[a-zA-Z0-9]*$/' required)
                                                span(ng-class='{"nf-red" : loginForm.username.$invalid && !loginForm.username.$pristine, "nf-green" : loginForm.username.$valid}' class="input-group-addon btn-md nf-button" style='border:none')
                                                    i.fa.fa-user
                                        .row
                                            label.label.nf-label.col-lg-5.col-md-5 Password
                                            .form-group.input-group.col-lg-6.col-md-6
                                                input.form-control.nf-input.input-md(type='password' name='password' ng-model='Index.user.password' placeholder='At least five characters'
                                                            ng-minlength='5' ng-maxlength='20' required)
                                                span(ng-class='{"nf-red" : loginForm.password.$invalid && !loginForm.password.$pristine, "nf-green" : loginForm.password.$valid}' class="input-group-addon btn-md nf-button" style='border:none')
                                                    i.fa.fa-lock
                                        .row
                                            .col-lg-5.col-md-5
                                            .form-group.input-group.col-lg-6.col-md-6
                                                button.right(type="submit" class="btn btn-md nf-button nf-green")
                                                    i.fa.fa-check

            .nf-toast(style='position:fixed' class='angular-animate' ng-show='Index.toastMessage !== null')
                .nf-toast-content.nf-button.btn(ng-class="{'nf-red': Index.toastMessage.success === false, 'nf-green': Index.toastMessage.success === true, 'nf-orange' : Index.toastMessage.success !== true && Index.toastMessage.success !== false}")
                    i.fa(ng-class="{'fa-check': Index.toastMessage.success === true, 'fa-times': Index.toastMessage.success === false, 'fa-circle-o-notch fa-spin fa-fw' : Index.toastMessage.success !== true && Index.toastMessage.success !== false}")
                    | {{Index.toastMessage.message}}

        div(class='row')
            div(class='col-md-4')
            div(class='col-md-4')
                script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                // Ad 1
                ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-7416199853732232', data-ad-slot='9649668904', data-ad-format='auto')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});

block scripts
    script(src="/js/index.js")
