div(class="panel panel-default nf-panel")
    div(class="collapsable nf-panel-heading nf-dark-blue") Divisions and Point Scheme
    div(class="panel-body tournament-panel nf-panel-body")
        .row
            div(class="col-md-6 col-sm-12 col-lg-6")
                .row.nf-margin
                    div(class='col-sm-6 col-lg-6')
                        .col-lg-9
                            label(class="label nf-dark-blue nf-label btn-block" style='float:right') Point Scheme
                        .col-lg-3(ng-show='Config.editingPointScheme === false')
                            span.nf-button.btn-sm.btn.nf-blue(style='float:right' ng-show='Config.editingPointScheme === false' ng-click='Config.editingPointScheme = true')
                                i.fa.fa-pencil
                        .col-lg-3(ng-show='Config.editingPointScheme === true')
                            span.nf-button.btn-sm.btn.nf-green(style='float:right' ng-click='Config.editingPointScheme = false')
                                i.fa.fa-check
                            span.nf-button.btn-sm.btn.nf-red(style='float:right' ng-click='Config.editingPointScheme = false')
                                i.fa.fa-times
                                  
                .row.nf-margin
                    div(class="col-md-12 col-sm-6 col-lg-12")
                        form(name='Config.editPointSchemeForm' ng-show='Config.editingPointScheme === true')
                            .row.nf-margin(ng-repeat='ps in Config.pointSchemeCopy')
                                .col-lg-6
                                    .input-group
                                        span.input-group-addon.nf-button.no-border(
                                            ng-class="{'nf-green': ps.type === 'Power', 'nf-blue' : ps.type === 'Base', 'nf-red' : ps.type === 'Neg'}"
                                        ) {{ps.type[0]}}
                                        input.form-control.nf-input(type='number' ng-model='ps.value')                                            
                                        span.input-group-addon.nf-button.dropdown-toggle(data-toggle='dropdown')
                                            i.fa.fa-caret-down
                                        
                                        ul.dropdown-menu.nf-dropdown(aria-role='menu' title='Switch tossup answer type')
                                            li
                                                a(title='Set as Power' ng-click='ps.type = "Power"') Power
                                                a(title='Set as Base' ng-click='ps.type = "Base"') Base
                                                a(title='Set as Neg' ng-click='ps.type = "Neg"') Neg
                                .col-lg-1
                                    .input-group
                                        span.input-group-addon.nf-button.nf-red.btn.btn-sm
                                            i.fa.fa-trash

                        div(ng-show='Config.editingPointScheme === false')                        
                            .row.nf-margin(ng-repeat='ps in Config.pointScheme')
                                .col-lg-6
                                    .input-group
                                        span.input-group-addon.nf-button.no-border(
                                            ng-class="{'nf-green': ps.type === 'Power', 'nf-blue' : ps.type === 'Base', 'nf-red' : ps.type === 'Neg'}"
                                        ) {{ps.type[0]}}
                                        div.form-control.nf-input.nf-gray {{ps.value}}                                            
                        
                        br
                        br
                        br

                        .row.nf-margin
                            .col-lg-6
                                .input-group
                                    span.input-group-addon.nf-button.no-border(
                                        ng-class="{'nf-green': newPointValue.type === 'Power', 'nf-blue' : newPointValue.type === 'Base', 'nf-red' : newPointValue.type === 'Neg'}"
                                    ) {{newPointValue.type[0]}}
                                    input.form-control.nf-input(type='number' ng-model='newPointValue.value' placeholder='Add a new point value')                                            
                                    span.input-group-addon.nf-button.dropdown-toggle(data-toggle='dropdown')
                                        i.fa.fa-caret-down
                                    ul.dropdown-menu.nf-dropdown(aria-role='menu')
                                        li
                                            a(title='Set as Power' ng-click='newPointValue.type = "Power"') Power
                                            a(title='Set as Base' ng-click='newPointValue.type = "Base"') Base
                                            a(title='Set as Neg' ng-click='newPointValue.type = "Neg"') Neg
                            .col-lg-1
                                .input-group
                                    span.input-group-addon.nf-button.nf-green.btn.btn-sm
                                        i.fa.fa-check

        div(class='row')
            div(class="col-md-6")
                label(class="label nf-dark-blue nf-label col-xs-4") Divisions
                div(class="col-md-1")
                div(class="form-group col-xs-7")
                    //- form(id="divisions-form")
                    //-     //- each phase in tournament.phases
                    //-     //-     div(class="row")
                    //-     //-         label(class="label nf-dark-blue nf-label col-xs-3 col-md-3 col-sm-3 phase-name" data-phase-id='#{phase.phase_id}') #{phase.name}
                    //-     //-         button(type='button' data-toggle='tooltip' class="btn btn-sm nf-blue add-division " data-phase-id="#{phase.phase_id}" title='Add Division to #{phase.name}.')
                    //-     //-             i(class="fa fa-plus")
                    //-     //-         div(class="col-md-7 division-box" data-phase-id='#{phase.phase_id}')
                    //-     //-             each division, i in tournament.divisions
                    //-     //-                 if (division.phase_id == phase.phase_id)
                    //-     //-                     input(readonly type='text' data-last-name='#{tournament.divisions[i].name}' style="width:100%" value="#{tournament.divisions[i].name}" class=' form-control nf-input input-medium no-border-radius division-name saved' data-phase-id='#{phase.phase_id}' data-division-id='#{tournament.divisions[i].division_id}')

                    //-         br
                    //-         br


                div(class="btn-group" style="margin-top:15px")
                    button(type="button" class="btn btn-md nf-green nf-button" data-toggle="tooltip" title='Empty boxes are ignored.') Save All Divisions
