.row.ConfigurationTab
    .col-lg-6
        div.general.Panel
            div(class="collapsable nf-panel-heading")
                .row
                    .col-lg-11.col-sm-11.col-md-11.col-xs-11 
                        label.nf-label General
            div(class="panel-body tournament-panel nf-panel-body general")
                .row
                    div(class="col-md-12 col-sm-12 col-lg-12 col-xl-9")
                        form(name='Config.editConfigurationRules' novalidate ng-class='{"disabled": Config.savingRules}')
                            .row.nf-margin
                                .col-lg-8.col-sm-3.col-md-6(ng-show='Config.editingRules === false')
                                    button.btn-md.btn.Button.primary(style='float:left' ng-if='tournamentContext.admin' ng-show='Config.editingRules === false' ng-click='Config.editingRules = true')
                                        i.fa.fa-pencil
                                .col-lg-8.col-sm-3.col-md-6(ng-show='Config.editingRules === true')
                                    button.btn-md.btn.Button.secondary(style='float:left' ng-show='Config.editingRules === true' title='Cancel' ng-click='Config.editingRules = false; Config.resetRules()')
                                        i.fa.fa-times
                                    button.btn-md.btn.Button.primary.save(type='submit' ng-show='Config.editingRules === true' title='Save' ng-click='Config.saveRules()')
                                        i.fa.fa-check
                                        
                            .row.nf-margin
                                .row.nf-margin
                                    .col-lg-8.col-sm-9.col-md-6
                                        .input-group
                                            span.input-group-addon.nf-white.no-border.point-label Max Active Players Per Team
                                            div.form-control.nf-input.nf-gray(ng-show='Config.editingRules === false') {{Config.rules.maxActive}}  
                                            input.form-control.nf-input(required type='number' min='0' name='maxPlayersPerTeam' ng-model='Config.rulesCopy.maxActive' ng-show='Config.editingRules === true') 
                                .row.nf-margin
                                    .col-lg-8.col-sm-9.col-md-6
                                        .input-group
                                            span.input-group-addon.no-border.point-label Bouncebacks?
                                            div.form-control.nf-input.nf-gray(ng-show='Config.editingRules === false') {{Config.rules.bouncebacks ? 'Yes' : 'No'}}  
                                            .Checkbox.bounceback-checkbox(ng-show='Config.editingRules === true')
                                                input(id ='bouncebacks' type='checkbox' name='bouncebacks' ng-model='Config.rulesCopy.bouncebacks')
                                                span.checkmark(ng-click="Config.rulesCopy.bouncebacks = !Config.rulesCopy.bouncebacks")

        .row.phases(ng-controller='PhaseController as Phase')
            div(ng-if='tournamentContext.admin')
                div(class='col-md-12 col-sm-12 col-lg-12 col-xs-12')
                        div.Panel
                            div(class="collapsable nf-panel-heading") 
                                .row
                                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                                        h4.left 
                                            label.nf-label Phases 
                                    .col-lg-6.col-md-6.col-sm-12.col-xs-12
                                        label.nf-label(title='Active phase is used to choose correct divisions when viewing stats for all games.' ng-bind='"Current Phase: " + (Phase.activePhase.name || "None")')

                            div(class="nf-panel-body panel-body")
                                .row
                                    div(class="col-md-12 col-sm-12 col-lg-12 col-xs-12")
                                        .row.nf-margin
                                            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                                                div(class='input-group' style='margin-bottom:10px')
                                                    input(type='text' placeholder='Enter New Phase Name Here' class="form-control nf-input" ng-model='Phase.newPhase.name' ng-keyup='!($event.which === 13) || Phase.addPhase()')
                                                    span.btn.input-group-addon.Button.primary(ng-click='Phase.addPhase()' ng-class="{'disabled': Phase.savingNewPhase}")
                                                        i(class='fa fa-plus')
                                    
                                    div(class="col-md-12 col-sm-12 col-lg-12 col-xs-12")
                                        .row.nf-margin(ng-repeat='phase in Phase.phases | orderBy: "name" track by phase.id')
                                            .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-show='!phase.editing')
                                                .row
                                                    .col-lg-8.col-md-8.col-sm-8.col-xs-8
                                                        .input-group
                                                            span.form-control.nf-input.nf-gray.input-group-addon.phase-name(ng-show='!phase.editing' ng-bind='phase.name')
                                                            span.btn.input-group-addon.Button.primary.no-border(ng-click='phase.editing = true' ng-show='!phase.editing')
                                                                i.fa.fa-pencil
                                                    .col-lg-4.col-md-4.col-sm-4.col-xs-4
                                                        .Checkbox.phase-checkbox
                                                            input(id='{{phase.id}}' type="checkbox" name='{{ phase.id }}' ng-checked='phase.id === Phase.activePhase.id' ng-disabled='Phase.phases.length === 1 && Phase.activePhase.id')
                                                            span.checkmark(ng-click='Phase.updateActivePhase(phase)')
                                                        //- div.material-switch.pull-right(style='padding-left:10px')
                                                        //-     input(id='{{ phase.id }}' type="checkbox" name='{{ phase.id }}' ng-checked='phase.id === Phase.activePhase.id' ng-click='Phase.updateActivePhase(phase)' ng-disabled='Phase.phases.length === 1 && Phase.activePhase.id')
                                                        //-     label(for="{{ phase.id }}" class="nf-green")
                                            .col-lg-12.col-md-12.col-sm-12.col-xs-12(ng-show='phase.editing')
                                                .row
                                                    .col-lg-10.col-md-10.col-sm-10.col-xs-10
                                                        .input-group
                                                            input(type='text' class='form-control nf-input' ng-model='phase.newName' ng-show='phase.editing')
                                                            span.btn.input-group-addon.Button.secondary.no-border(ng-click='phase.newName = phase.name; phase.editing = false' ng-show='phase.editing')
                                                                i.fa.fa-times   
                                                            span.btn.input-group-addon.Button.primary.no-border(ng-click='Phase.editPhase(phase)' ng-show='phase.editing')
                                                                i.fa.fa-check  
                                                     .col-lg-2.col-md-2.col-sm-2.col-xs-2(ng-if='Phase.phases.length > 1')
                                                        div
                                                            span.btn.Button.primary.no-border.delete-phase(ng-show='phase.editing' ng-click='Phase.removePhase(phase)')
                                                                i.fa.fa-trash

        

    .col-lg-6.point-scheme                   
        div.Panel
            div(class="collapsable nf-panel-heading") 
                .row
                    .col-lg-11.col-sm-11.col-md-11.col-xs-11 
                        label.nf-label Point Scheme 
            div(class="panel-body tournament-panel nf-panel-body")
                .row
                    div(class="col-md-12 col-sm-12 col-lg-12 col-xl-9")
                        form(name='Config.editPointSchemeForm' ng-submit='Config.editPointScheme()' novalidate ng-class='{"disabled": Config.savingPointScheme}')
                            .row.nf-margin(ng-if='Config.games.length === 0')
                                .col-lg-8.col-sm-3.col-md-6(ng-show='Config.editingPointScheme === false')
                                    span.btn-md.btn.Button.primary(style='float:left' title='Edit' ng-if='Config.games.length === 0' ng-click='Config.editingPointScheme = true')
                                        i.fa.fa-pencil
                                .col-lg-8.col-sm-3.col-md-6(ng-show='Config.editingPointScheme === true')
                                    span.btn-md.btn.Button.secondary(style='float:left' title='Cancel' ng-click='Config.resetPointSchemeCopyToOriginal(); Config.editingPointScheme = false')
                                        i.fa.fa-times
                                    button.btn-md.btn.Button.primary.save-scheme(type='submit' title='Save')
                                        i.fa.fa-check
                                        
                            .row.nf-margin(ng-show='Config.editingPointScheme' ng-if='Config.games.length === 0')
                                .row.nf-margin(ng-repeat='ps in Config.pointSchemeCopy.tossupValues track by ps.value')
                                    .col-lg-8.col-sm-9.col-md-6
                                        .input-group
                                            span.input-group-addon.no-border.point-label.dropdown-toggle(
                                                ng-class="{'nf-green': ps.type === 'Power', 'nf-blue' : ps.type === 'Base', 'nf-red' : ps.type === 'Neg'}",
                                                data-toggle='dropdown'
                                            ) {{ps.type}}
                                                i.fa.fa-caret-down
                                            input.form-control.nf-input(type='number' ng-model='ps.value', 
                                                min='{{ps.type !== "Neg" ? 0 : Number.NEGATIVE_INFINITY}}' max='{{ps.type === "Neg" ? 0 : Number.POSITIVE_INFINITY}}')                                            
                                            
                                            ul.dropdown-menu.nf-dropdown(aria-role='menu' title='Switch tossup answer type')
                                                li
                                                    a(title='Set as Power' ng-click='ps.type = "Power"') Power
                                                    a(title='Set as Base' ng-click='ps.type = "Base"') Base
                                                    a(title='Set as Neg' ng-click='ps.type = "Neg"') Neg
                                    .col-lg-2.col-sm-2
                                        .input-group
                                            span.Button.primary.btn.btn-md(ng-click='Config.removeFromPointSchemeCopy(ps)')
                                                i.fa.fa-trash
                                                
                            .row.nf-margin(ng-show='Config.editingPointScheme === false')                        
                                .row.nf-margin(ng-repeat='ps in Config.pointScheme.tossupValues | orderBy:"value":true track by ps.value')
                                    .col-lg-8.col-sm-9.col-md-6
                                        .input-group
                                            span.input-group-addon.no-border.point-label(
                                                ng-class="{'nf-green': ps.type === 'Power', 'nf-blue' : ps.type === 'Base', 'nf-red' : ps.type === 'Neg'}"
                                            ) {{ps.type}}
                                            div.form-control.nf-input.nf-gray {{ps.value}}   
                                                                                     
                            .row.nf-margin
                                .row.nf-margin
                                    .col-lg-8.col-sm-9.col-md-6
                                        .input-group
                                            span.input-group-addon.no-border.point-label Bonus Part Value
                                            div.form-control.nf-input.nf-gray(ng-show='Config.editingPointScheme === false') {{Config.pointScheme.bonusPointValue}}  
                                            input.form-control.nf-input(required type='number' min='0' name='bonusPointValue' ng-model='Config.pointSchemeCopy.bonusPointValue' ng-show='Config.editingPointScheme === true') 
                            .row.nf-margin
                                .row.nf-margin
                                    .col-lg-8.col-sm-9.col-md-6
                                        .input-group
                                            span.input-group-addon.no-border.point-label Parts Per Bonus
                                            div.form-control.nf-input.nf-gray(ng-show='Config.editingPointScheme === false') {{Config.pointScheme.partsPerBonus}}  
                                            input.form-control.nf-input(required type='number' min='1' name='partsPerBonus' ng-model='Config.pointSchemeCopy.partsPerBonus' ng-show='Config.editingPointScheme === true')

                        br
                        br
                        br

                        form(name='Config.newPointValueForm' novalidate ng-submit='Config.addNewPointValue()' ng-show='Config.editingPointScheme === false' ng-if='Config.games.length === 0' ng-class='{"disabled": Config.savingNewPointValue}')
                            .row.nf-margin
                                .row.nf-margin
                                    .col-lg-8.col-md-6.col-sm-9
                                        .input-group
                                            span.input-group-addon.nf-button.no-border.point-label.dropdown-toggle(
                                                ng-class="{'nf-green': Config.newPointValue.type === 'Power', 'nf-blue' : Config.newPointValue.type === 'Base', 'nf-red' : Config.newPointValue.type === 'Neg'}",
                                                data-toggle='dropdown'
                                            ) {{Config.newPointValue.type || 'Type'}}
                                                i.fa.fa-caret-down
                                            input.form-control.nf-input(type='number' name='val' min='{{Config.minTossupValue()}}' max='{{Config.maxTossupValue()}}' ng-model='Config.newPointValue.value' placeholder='New tossup point value' required)                                            
                                            ul.dropdown-menu.nf-dropdown(aria-role='menu')
                                                li
                                                    a(title='Reset' ng-click='Config.newPointValue.type = null' ng-show='Config.newPointValue.type !== null') Reset
                                                    a(title='Set as Power' ng-click='Config.newPointValue.type = "Power"') Power
                                                    a(title='Set as Base' ng-click='Config.newPointValue.type = "Base"') Base
                                                    a(title='Set as Neg' ng-click='Config.newPointValue.type = "Neg"') Neg
                                    .col-lg-2.col-md-2
                                        button.Button.primary.btn(type='submit')
                                            i.fa.fa-check

        .row.divisions(ng-controller='DivisionController as Division')
            div(ng-if='tournamentContext.admin === true')
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    div.Panel
                        div(class="collapsable nf-panel-heading") 
                            .row
                                .col-lg-11.col-sm-11.col-md-11.col-xs-11 
                                    label.nf-label Pools
                        div(class="panel-body tournament-panel nf-panel-body")
                            .row
                                div(class="clearfix col-md-12 col-sm-12 col-lg-12" ng-repeat='phase in Division.phases')
                                    .col-lg-4.col-md-4.col-sm-4.col-xs-3
                                            label.nf-label(ng-bind='phase.name') 
                                    .col-lg-8.col-md-8.col-sm-8.col-xs-9
                                        .row.nf-margin(ng-repeat='division in Division.divisions' ng-if='division.phaseId === phase.id')
                                            .col-lg-10.col-md-10.col-sm-10
                                                .input-group
                                                    span.form-control.nf-input.nf-gray(ng-show='!division.editing' ng-bind='division.name')
                                                    input.form-control.nf-input(type='text' ng-model='division.newName' ng-show='division.editing')
                                                    span.btn.input-group-addon.no-border.Button.primary(ng-show='!division.editing && tournamentContext.admin === true' ng-click='division.editing = true' title='Edit')
                                                        i.fa.fa-pencil
                                                    span.btn.input-group-addon.Button.secondary(ng-show='division.editing' ng-click='division.newName = division.name; division.editing = false' title='Cancel')
                                                        i.fa.fa-times
                                                    span.btn.input-group-addon.no-border.Button.primary(ng-show='division.editing' ng-click='Division.saveDivision(division)' title='Save')
                                                        i.fa.fa-check
                                            .col-lg-2.col-md-2.col-sm-2(ng-show='division.editing' ng-if='tournamentContext.admin === true')
                                                span.btn.Button.primary(title='Remove {{division.name}}' ng-click='Division.removeDivision(division)')
                                                    i.fa.fa-trash

                                .nf-margin
                                
                                div.nf-margin.col-md-12.col-sm-12.col-lg-12.col-xl-9
                                    .col-lg-12
                                        .row.nf-margin
                                            .input-group.dropup
                                                span.input-group-addon.nf-button.no-border.point-label.dropdown-toggle(data-toggle='dropdown'
                                                        ) {{Division.newDivision.phaseName || 'Phase'}}
                                                            i.fa.fa-caret-down
                                                input.form-control.nf-input(type='text' placeholder='New division' ng-model='Division.newDivision.name' ng-keyup='!($event.which === 13) || Division.addNewDivision()')                                            
                                                ul.dropdown-menu.nf-dropdown(aria-role='menu' title='Pick division name.')
                                                    li
                                                        a(ng-repeat='phase in Division.phases' title='{{phase.name}}' ng-click='Division.newDivision.phaseName = phase.name; Division.newDivision.phaseId = phase.id' ng-bind='phase.name')
                                                span.input-group-addon.btn.Button.primary(ng-click='Division.addNewDivision()' ng-class='{"disabled": Division.savingNewDivision}' )
                                                    i.fa.fa-check
    include ./pools.jade