.col-lg-12.col-md-12.col-sm-12.col-xs-12.pools
  div.Panel(ng-controller='PoolsController as PoolsController')
      .nf-panel-heading
          div.pools-heading
            label.nf-label Team Pools
            div
              .input-group
                input.form-control(type='text' class="form-control nf-input" placeholder='Add new phase' ng-model='PoolsController.PhaseService.newPhase.name')
                span.btn.Button.primary.input-group-addon(ng-click='PoolsController.addNewPhase()')
                  i.fa.fa-plus
      .panel-body.nf-panel-body.phase-container(ng-repeat='phase in PoolsController.PhaseService.phases | orderBy:"name" track by phase.id')
          div.holder.row
              .col-lg-3.col-md-3.col-sm-4.col-xs-12
                  p.phase-name {{ phase.name }}
                  .input-group.phase-input
                    input.form-control(type='text' class="form-control nf-input" placeholder='New pool' ng-model='PoolsController.DivisionService.newPools[phase.id].name')
                    span.btn.Button.primary.input-group-addon(ng-click='PoolsController.addNewPool(phase.id)')
                      i.fa.fa-plus
              .col-lg-9.col-md-9.col-sm-8.col-xs-12
                  .row
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .Panel
                              .panel-heading.nf-panel-heading
                                  label.nf-label Unassigned
                              .panel-body.team-target.unassigned(dnd-list dnd-drop='PoolsController.onDropTeam(item, phase, null)' dnd-allowed-types='[phase.id]')
                                  .row
                                      .col-lg-4.col-md-4.col-sm-4(
                                          ng-repeat='team in PoolsController.TeamService.teams | orderBy:"name" track by team.id'
                                          ng-if='!team.divisions[phase.id]'
                                      )
                                        .team(
                                          dnd-draggable='team'
                                          dnd-type='phase.id'
                                        )
                                          | {{ team.name }}
                      .col-lg-12.col-md-12.col-sm-12.col-xs-12
                          .row
                              div(ng-repeat='div in PoolsController.DivisionService.divisions | filter:{phaseId: phase.id}')
                                  .col-lg-4.col-md-4.col-sm-12.col-xs-12
                                      .Panel
                                          .panel-heading.nf-panel-heading
                                              div.div-name(ng-if='!div.editing')
                                                label.nf-label {{ div.name }}
                                                button.Button.btn.secondary.btn-sm(type='button' ng-click='div.editing = true')
                                                  i.fa.fa-pencil
                                              .editing-div(ng-if='div.editing')
                                                .input-group.input-group
                                                  input.form-control(type='text' class="form-control nf-input" placeholder='Add new phase' ng-model='div.newName')
                                                  span.btn.Button.secondary.input-group-addon(role='button' ng-click='PoolsController.resetDivision(div.id)')
                                                    i.fa.fa-times
                                                  span.btn.Button.primary.input-group-addon(role='button' ng-click='PoolsController.editDivision(div)')
                                                    i.fa.fa-check

                                                span.btn.Button.secondary(role='button' ng-click='PoolsController.removeDivision(div)')
                                                  i.fa.fa-trash
                                          .panel-body.team-target(dnd-list dnd-drop='PoolsController.onDropTeam(item, phase, div)' dnd-allowed-types='[phase.id]')
                                              ul
                                                  li.team(ng-repeat='team in PoolsController.TeamService.teams | orderBy:"name" track by team.id'
                                                    ng-if='team.divisions[phase.id] === div.id'
                                                    dnd-draggable='team'
                                                    dnd-type='phase.id'
                                                  )
                                                      | {{ team.name }}
                                          
                                  .clearfix(ng-if='($index + 1) % 3 === 0 && $index > 0')