extends ../layout

block titleContent
    title Create a Tournament | Neg 5

block extrastylesheets
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

block content

    +navbar
    +navbar-bottom
    div(class="content-wrapper box" style='padding:100px;padding-top:50px;')
        div(class="row")
            div(class="col-md-12")
                div(class="col-md-12")
                    div(style="margin:20px; margin-bottom:50px")
                    
                    div(class="nf-panel panel-default")
                        div(class="collapsable nf-panel-heading nf-dark-blue" style='font-size:20px') Create a Tournament.
                        div(class="nf-panel-body panel-body btn-shadow")
                            form(name="createTournament" method="post" action="/api/t")
                                div(class="row")                                   
                                    div(class='col-md-8 col-lg-6')
                                        label(class="label nf-dark-blue nf-label col-xs-4 col-lg-3") Name
                                        div(class="form-group col-xs-8 col-lg-9")
                                            input(
                                                type="text",
                                                name="name",
                                                placeholder="Tournament Name",
                                                class="form-control nf-input input-md center-text"
                                            )
                                        label(class="label nf-dark-blue nf-label col-xs-4 col-lg-3") Question Set
                                        div(class="form-group col-xs-8 col-lg-9")
                                            input(
                                                type="text",
                                                name="questionSet",
                                                placeholder="Question Set",
                                                class="form-control nf-input input-md center-text"
                                            )
                                        label(class="label nf-dark-blue nf-label col-xs-4 col-lg-3") Location
                                        div(class="form-group col-xs-8 col-lg-9")
                                            input(
                                                type="text",
                                                name="location",
                                                placeholder="Location",
                                                class="form-control nf-input input-md center-text"
                                            )
                                        label(class="label nf-dark-blue nf-label col-xs-4 col-lg-3") Date
                                        div(class="form-group col-xs-8 col-lg-9")
                                            input(
                                                type="date",
                                                name="datess",
                                                placeholder="Tournament Date",
                                                id="date-box",
                                                class="form-control nf-input input-md center-text"
                                            )
                                        label(class='label nf-dark-blue nf-label col-xs-4 col-lg-3') Description
                                        div(class="form-group col-xs-8 col-lg-9")
                                            textarea(
                                                name="comments",
                                                placeholder="Enter any other important information about the tournament here.",
                                                class="form-control nf-input input-md",
                                                style="min-height:300px;"
                                            )
                                    div(class='col-md-8 col-lg-6')
                                        label(class="label nf-dark-blue nf-label col-xs-4 col-lg-3") Point Scheme
                                        div(class="form-group col-xs-8 col-lg-9")
                                                  
                                .row
                                    button(type="reset" class="btn btn-lg nf-blue nf-button") Clear Fields
                                    button(type="submit" class="btn btn-lg nf-green nf-button") Confirm