div(class="panel panel-default nf-panel")
    div(class="collapsable nf-dark-blue nf-panel-heading") Tournament Overview
        span.btn.btn-sm.nf-button.nf-blue.btn-md(style='float:right')
            i.fa.fa-pencil 

    div(class="panel-body tournament-panel nf-panel-body")
        form(id="tournament-overview-form")
            div(class="row")
                div(class="col-md-12 col-lg-10")
                        label(class="label nf-dark-blue nf-label col-xs-4 col-sm-4") Name 
                        div(class="form-group col-xs-8 col-sm-8")
                            input(
                                type="text",
                                name="tournament_name",
                                value="",
                                class="form-control nf-input input-medium center-text no-border-radius",
                                ng-model="tournamentInfo.name"
                            )
                        label(class="label nf-dark-blue nf-label col-xs-4") Location
                        div(class="form-group col-xs-8")
                            input(
                                type="text",
                                name="tournament_location",
                                value="",
                                class="form-control nf-input input-medium center-text no-border-radius",
                                ng-model='tournamentInfo.location'
                            )
                        label(class="label nf-dark-blue nf-label col-xs-4") Question Set
                        div(class="form-group col-xs-8")
                            input(
                                type="text",
                                name="tournament_qset",
                                value="",
                                class="form-control nf-input input-medium center-text no-border-radius",
                                ng-model='tournamentInfo.questionSet'
                            )
                        label(class="label nf-dark-blue nf-label col-xs-4") Date
                        div(class="form-group col-xs-8")
                            input(
                                    type="date",
                                    name="tournament_date",
                                    value="",
                                    class="form-control nf-input input-medium center-text no-border-radius",
                                    ng-model='tournamentInfo.date'
                                )
                        label(class='label nf-dark-blue nf-label col-xs-4') Hidden
                        div(class='form-group col-xs-8')
                            input(type='checkbox' class='form-control nf-input input-sm' ng-model='tournamentInfo.hidden')
                                

            div(class="row")
                div(class="col-md-12 col-lg-10")
                    label(class="label nf-dark-blue nf-label col-xs-2 col-sm-4") Description
                    div(class="form-group col-xs-8")
                        textarea(name="tournament_description" class="form-control nf-input" rows="10" ng-model='tournamentInfo.description')

                    div(class="col-md-6")
                        button(type="button" class="btn btn-lg nf-green nf-button") Save Changes
                        div(id="tournament-update-msgdiv")
                            p(style="margin:10px; font-size:18px")
