div(class="panel nf-panel")
    form(name='Tournament.editTournamentForm' ng-submit='Tournament.editTournament()' novalidate)
        div(class="collapsable nf-panel-heading") 
            .row
                .col-lg-10.col-sm-10.col-md-10.col-xs-10
                    label.nf-label Overview
                .col-lg-2.col-sm-2.col-md-2.col-xs-2(ng-if='tournamentContext.owner')
                    button.btn.nf-button.button-outline.button-outline-blue.btn-md(type='button' style='float:right' title='Edit' ng-click='Tournament.editing = true' ng-show='Tournament.editing === false')
                        i.fa.fa-pencil
                    button.right(type="submit" ng-show='Tournament.editing === true' title='Confirm' class="btn btn-md button-outline button-outline-green nf-button" ng-class='{"disabled": Tournament.sendingRequest}')
                        i.fa.fa-check
                    button.btn.nf-button.button-outline.button-outline-red.btn-md(type='button' style='float:right;' title='Cancel'
                        ng-click='Tournament.editing = false; Tournament.resetOverview()' ng-show='Tournament.editing === true'
                        ng-class='{"disabled": Tournament.sendingRequest}')
                        i.fa.fa-times

        div(class="panel-body tournament-panel nf-panel-body")
                div(class="row")
                    div(class="col-md-12 col-lg-12")
                        .row.nf-margin
                            label(class="label nf-label col-xs-4 col-sm-4 col-lg-3") Name 
                            div(class="col-xs-8 col-sm-8 col-lg-8" ng-class='{"form-group" : Tournament.editing === true}')
                                input(
                                    type="text",
                                    name="tournament_name",
                                    class="form-control nf-input input-medium center-text no-border-radius",
                                    ng-model="Tournament.tournamentInfoCopy.name",
                                    ng-show='Tournament.editing === true',
                                    required
                                )
                                label(class='white nf-label' ng-show='Tournament.editing === false' ng-bind='tournamentInfo.name')
                        .row.nf-margin
                            label(class="label nf-label col-xs-4 col-lg-3") Location
                            div(class="col-xs-8 col-sm-8 col-lg-8" ng-class='{"form-group" : Tournament.editing === true}')
                                input(
                                    type="text",
                                    name="tournament_location",
                                    class="form-control nf-input input-md center-text no-border-radius",
                                    ng-model='Tournament.tournamentInfoCopy.location',
                                    ng-show='Tournament.editing === true'
                                )
                                label(class='white nf-label' ng-show='Tournament.editing === false' ng-bind='tournamentInfo.location')
                        .row.nf-margin
                            label(class="label nf-label col-xs-4 col-lg-3") Question Set
                            div(class="col-xs-8 col-sm-8 col-lg-8" ng-class='{"form-group" : Tournament.editing === true}')
                                input(
                                    type="text",
                                    name="tournament_qset",
                                    class="form-control nf-input input-medium center-text no-border-radius",
                                    ng-model='Tournament.tournamentInfoCopy.questionSet',
                                    ng-show='Tournament.editing === true'
                                )
                                label(class='white nf-label' ng-show='Tournament.editing === false' ng-bind='tournamentInfo.questionSet')
                        .row.nf-margin
                            label(class="label nf-label col-xs-4 col-lg-3") Date
                            div(class="col-xs-8 col-sm-8 col-lg-8" ng-class='{"form-group" : Tournament.editing === true}')
                                input(
                                        type="date",
                                        name="tournament_date",
                                        class="form-control nf-input input-medium center-text no-border-radius",
                                        ng-model='Tournament.tournamentInfoCopy.date',
                                        ng-show='Tournament.editing === true'
                                    )
                                label(class='white nf-label' ng-show='Tournament.editing === false' ng-bind='tournamentInfo.date | date:"shortDate"')

                        .row.nf-margin
                            label(class='label nf-label col-xs-4 col-lg-3') Hidden
                            div(class="col-xs-8 col-sm-8 col-lg-3" ng-class='{"form-group" : Tournament.editing === true}')
                                input(type='checkbox' class='form-control nf-input input-sm' ng-model='Tournament.tournamentInfoCopy.hidden' ng-show='Tournament.editing === true')
                                label(class='white nf-label' ng-show='Tournament.editing === false' ng-bind='tournamentInfo.hidden ? "Yes" : "No"')

                    .row.nf-margin
                        div(class="col-md-12 col-lg-12")
                            label(class="label nf-label col-xs-4 col-sm-4 col-lg-3") Comments
                            div(class="col-xs-8 col-sm-8 col-lg-9" ng-class='{"form-group" : Tournament.editing === true}')
                                textarea(name="tournament_description" class="form-control nf-input" rows="30" ng-model='Tournament.tournamentInfoCopy.comments' ng-show='Tournament.editing === true')
                                label(class='white nf-label preserve-white-space' ng-show='Tournament.editing === false' ng-bind='tournamentInfo.comments')


div(class="panel panel-default nf-panel" ng-controller='StatisticsCtrl as Statistics')
    .nf-panel-heading
        .row 
            .col-lg-11.col-sm-11.col-md-11.col-xs-11
                label.nf-label Stats
    div(class="nf-panel-body panel-body tournament-panel")
        div(class="col-md-12")                        
            .row
                .col-md-6.col-sm-6.col-lg-6
                    - var __STATS_URL__ = statsBaseUrl + '/t/{{::tournamentId}}/{{Tournament.slugify()}}/stats'
                    a(target="_blank" href=__STATS_URL__ class="stat-link nf-button nf-green btn no-border " data-stats-type='team') Go to Stats
            br
            .row
                .col-md-6.col-sm-6.col-lg-6
                    button.nf-button.nf-green.btn.btn-md.qbj-button(ng-click='Statistics.downloadQBJ()') QBJ
                        i.fa.fa-download
