extends layout

block titleContent
    title Tournaments | Neg 5

block content

    +navbar
    +navbar-bottom

    div(class="content-wrapper box" style='padding:150px;padding-top:120px')

        div(class="row")
            div(class="col-md-12")
                div(style="margin:20px; margin-bottom:50px")
                h2(class="nf-panel-heading nf-dark-blue" style='width:50%') Tournaments
                br
                div(class="panel panel-default table-grey")
                    table(class="table table-condensed btn-shadow")
                        thead
                            tr()
                                th(class="table-head" style='text-align:center') Name
                                th(class="table-head" style='text-align:center') Location
                                th(class="table-head" style='text-align:center') Date
                                th(class="table-head" style='text-align:center') Question set
                                th(class="table-head" style='text-align:center') Number of Teams Added
                        tbody(id="tournaments-body")
                            each val, i in tournaments
                                tr(class='tournament-anchor nf-tr' data-href='/t/' + tournaments[i].shortID)
                                    td #{tournaments[i].tournament_name}
                                    td #{tournaments[i].location}
                                    if tournaments[i].date
                                        - var month = tournaments[i].date.getMonth() + 1;
                                        - var day = tournaments[i].date.getDate();
                                        - var year = tournaments[i].date.getFullYear();
                                        - var date = month + "/" + day + "/" + year;
                                        td #{date}
                                    else
                                        td #{tournaments[i].date}
                                    td #{tournaments[i].questionSet}
                                    td #{tournaments[i].teamsAdded}

        div(class='row')
            div(class='col-md-3')
                if tournaments.length === 0
                    a(class='btn btn-md nf-blue btn-shadow btn-block' href='/create') First Tournament
                else
                    a(class='btn btn-md nf-blue btn-shadow btn-block nf-button' href='/create') New Tournament
block scripts
    script(src="/js/all-tournaments.js")
