extends layout

block titleContent
    title Your Tournaments | Neg 5

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")

block content

    +navbar
    // +sidebar

    // main(class="cd-main-content")
    div(class="content-wrapper box" style='padding:300px;padding-top:20px')

        div(class="row")
            div(class="col-md-12")
                div(style="margin:20px; margin-bottom:50px")
                h2(class="title" style='width:50%') Your Tournaments
                br
                div(class="panel panel-default table-grey")


                    // div(class="pane")
                    table(class="table table-hover table-condensed")
                        thead
                            tr()
                                th(class="table-head" style='text-align:center') Name
                                th(class="table-head" style='text-align:center') Location
                                th(class="table-head" style='text-align:center') Date
                                th(class="table-head" style='text-align:center') Question set
                                th(class="table-head" style='text-align:center') Number of Teams Added
                        tbody(id="tournaments-body")
                            each val, i in tournaments
                                tr()
                                    td
                                        a(href="/t/" + tournaments[i].shortID) #{tournaments[i].tournament_name}
                                    td #{tournaments[i].location}
                                    if tournaments[i].date
                                        - var month = tournaments[i].date.getMonth() + 1;
                                        - var day = tournaments[i].date.getDate();
                                        - var year = tournaments[i].date.getFullYear();
                                        - var date = month + "/" + day + "/" + year;
                                        td #{date}
                                    else
                                        td #{tournaments[i].date}
                                    td #{tournaments[i].questionSet}
                                    td #{tournaments[i].teamsAdded}

            div(class="row col-md-12")
                div(class="col-md-6 statbox" style='padding:20px')
                    // div(style="margin:20px; margin-bottom:50px")
                    h2(class="title" style='width:50%') Merge Tournaments
                    div(class='' style='padding:10px')
                        h3
                            | Merging two tournaments creates a brand new tournament with compiled informaton. It will not replace the two tournaments you merge.
                            | Divisions from the tournament on the left will be used when merging.
                    br
                    div(class="col-md-6")
                        select(name="tournamentOne" class="form-control tournament-select" id="left-select")
                            option(disabled selected) Select First Tournament
                            each tournament, i in tournaments
                                option(value="#{tournament._id}") #{tournament.tournament_name}

                    div(class="col-md-6 col-lg-6 col-sm-6")
                        select(name="tournamentTwo" class="form-control tournament-select" id='right-select')
                            option(disabled selected) Select Second Tournament
                            each tournament, i in tournaments
                                option(value="#{tournament._id}") #{tournament.tournament_name}

                    br
                    div(class="col-md-6" style="margin-top:10px")
                        input(type="text" class="form-control" id="name-merge" placeholder='Enter Name of Merged Tournament')

            div(class="col-md-6")
        br

        div(class="row" id='merge-div')
            div(class="col-md-1")
            div(class="col-md-4")
                button(class="btn btn-lg btn-block btn-warning" style='border-radius:3px;box-shadow: 0 2.5px 1px rgba(0, 0, 0, 0.2);' id='merge-button') Merge Tournaments

        div(class="row" id='success-merge-div' style='display:none')
            div(class="col-md-1")
            div(class="col-md-4")
                a(class="btn btn-lg btn-block btn-success" style='border-radius:3px;box-shadow: 0 2.5px 1px rgba(0, 0, 0, 0.2);' id='success-merge') Go To Merged Tournament

block scripts
    script(src="/js/all-tournaments.js")
