extends layout

block extrascripts
    script(src="/js/tournament-configuration.js")

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")

block content

    +sidebar

    div(id="page-wrapper")
        div(id="page-inner")
            div(class="row")
                div(class="col-md-12")
                    h3 Create a Tournament

            div(class="row")
                div(class="col-md-12")
                    div(class="panel panel-default")
                        div(class="panel-heading") Fill in the information below and hit confirm to create a tournament. You can leave off fields you're not sure of yet.
                    div(class="panel-body")
                        div(class="row")
                            div(class="col-md-6")
                                form(name="createTournament" role="form" method="post" action="/home/tournaments/create/submit")
                                    div(class="form-group")
                                        label Name*
                                        input(
                                            type="input",
                                            name="t_name",
                                            placeholder="Tournament Name",
                                            class="form-control input-medium center-text no-border-radius"
                                        )
                                    div(class="form-group")
                                        label Question Set
                                        input(
                                            type="input",
                                            name="t_qset",
                                            placeholder="Question Set",
                                            class="form-control input-medium center-text no-border-radius"
                                        )
                                    div(class="form-group")
                                        label Location
                                        input(
                                            type="input",
                                            name="t_location",
                                            placeholder="Institution",
                                            class="form-control input-medium center-text no-border-radius"
                                        )
                                    div(class="form-group")
                                        label Host Date
                                        input(
                                            type="date",
                                            name="t_date",
                                            placeholder="Tournament Date",
                                            class="form-control input-medium center-text no-border-radius"
                                        )
                                    div(class="form-group")
                                        label Additional Information
                                        textarea(
                                            name="t_description",
                                            placeholder="Enter any other information about your tournament",
                                            class="form-control input-lg no-border-radius"
                                        )

                                    button(type="submit" class="btn btn-lg btn-success no-border-radius") Confirm
                                    button(type="button" class="btn btn-lg btn-info no-border-radius") Clear Fields
