extends layout

block titleContent
    title #{game.team1.team_name} vs #{game.team2.team_name} | #{tournament.tournament_name} | Neg 5

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")

block content

    +navbar

    div(class="row" style='padding:150px;padding-top:20px')
        div(class="col-md-12")
            div(style="margin:20px; margin-bottom:50px")
            h2(class="title" style="width:50%;") #{tournamentName} Round #{game.round} : #{game.team1.team_name} vs. #{game.team2.team_name}
            h3(style="width:50%;border-radius:0")
                a(class="btn btn-sm btn-info" href="/t/" + tournament.shortID) Back to #{tournament.tournament_name}
            br
            br

            div(class="panel panel-default")
                    div(class="panel-heading collapsable") Game Details
                    div(class="panel-body")

                        div(class="panel-body" id="updategamepanel")

                                form(name="gameinfoform" id="changegameform")
                                    input(type="hidden" value="#{game.shortID}" name="oldgameid" id="oldgameid_input")
                                    input(type="hidden" value="#{JSON.stringify(tournament.pointScheme)}" name="pointValueForm")
                                    div(class="row")
                                        input(type="hidden" value="#{tournament._id}" id="tournament_id_change" name="tournament_id_form")
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                                input(type="hidden" name="leftteamname" id="leftteamnameID" value="#{game.team1.team_name}")
                                                select(id="leftchoice" class="form-control teamselect" name="leftteamselect")
                                                    each team in tournament.teams
                                                        if team._id == game.team1.team_id
                                                            option(selected value="#{team._id}") #{team.team_name}
                                                        else
                                                            option(value="#{team._id}") #{team.team_name}
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                                input(type="hidden" name="rightteamname" id="rightteamnameID" value="#{game.team2.team_name}")
                                                select(id="rightchoice" class="form-control teamselect" name="rightteamselect")
                                                    each team in tournament.teams
                                                        if team._id == game.team2.team_id
                                                            option(selected value="#{team._id}") #{team.team_name}
                                                        else
                                                            option(value="#{team._id}") #{team.team_name}
                                    br
                                    div(class="row")
                                        div(id="left-text" class="col-lg-6 col-md-6 col-sm-6")
                                            table(class='table table-condensed')
                                                - var points = Object.keys(tournament.pointScheme)
                                                thead
                                                    tr
                                                        td(class="table-head") Name
                                                        td(class="table-head") GP
                                                        each val, i in points
                                                            td(class="table-head") #{points[i]}
                                                tbody
                                                    - var playerNum = 1
                                                    each val, i in team1Players
                                                        - var current = team1Players[i]
                                                        - var inputName = "player" + playerNum + "_leftid"
                                                        input(type="hidden" value="#{current._id}" name="#{inputName}")
                                                        if game.team1.playerStats[current._id]
                                                            tr
                                                                td #{current.player_name}
                                                                td
                                                                    - var inputGP = "player" + playerNum + "_leftgp"
                                                                    input(type="number" name="#{inputGP}" class="form-control gp-box" value="#{game.team1.playerStats[current._id]['gp']}")
                                                                each score, j in points
                                                                    td
                                                                        - var inputPoints = "player" + playerNum + "_left_" + points[j] + "val"
                                                                        input(type="number" name="#{inputPoints}" class="form-control point-box" value="#{game.team1.playerStats[current._id]['' + points[j]]}")
                                                        - playerNum++
                                        div(id="right-text" class="col-lg-6 col-md-6 col-sm-6")
                                            table(class='table table-condensed')
                                                - var points = Object.keys(tournament.pointScheme)
                                                thead
                                                    tr
                                                        td(class="table-head") Name
                                                        td(class="table-head") GP
                                                        each val, i in points
                                                            td(class="table-head") #{points[i]}
                                                tbody
                                                    - var playerNum = 1
                                                    each val, i in team2Players
                                                        - var current = team2Players[i]
                                                        - var inputName = "player" + playerNum + "_rightid"
                                                        input(type="hidden" value="#{current._id}" name="#{inputName}")
                                                        if game.team2.playerStats[current._id]
                                                            tr
                                                                td #{current.player_name}
                                                                td
                                                                    - var inputGP = "player" + playerNum + "_rightgp"
                                                                    input(type="number" name="#{inputGP}" class="form-control gp-box" value="#{game.team2.playerStats[current._id]['gp']}")
                                                                each score, j in points
                                                                    td
                                                                        - var inputPoints = "player" + playerNum + "_right_" + points[j] + "val"
                                                                        input(type="number" name="#{inputPoints}" class="form-control point-box" value="#{game.team2.playerStats[current._id]['' + points[j]]}")

                                                        - playerNum++
                                    div(class="row")
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class='col-md-6')
                                                div(class='col-md-3')
                                                    label(class="label label-warning btn-block" style='float:right') Team 1 Score *
                                                div(class='col-md-3')
                                                    input(type="number" class="form-control scorebox" name="leftteamscore" placeholder="Team 1 Score" pattern="[0-9]" value="#{game.team1.score}")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Bouncebacks
                                                div(class="col-md-3")
                                                    input(type="number" class="form-control" name="leftbounceback" placeholder="Bounceback Points" value="#{game.team1.bouncebacks}")
                                            br
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class="col-md-3")
                                                    input(type="number" class="form-control scorebox" name="rightteamscore" placeholder="Team 2 Score" pattern="[0-9]" value="#{game.team2.score}")
                                                div(class="col-md-3")
                                                    label(class="label label-warning btn-block" style='float:right') Team 2 Score *
                                            div(class="row")
                                                div(class="col-md-3")
                                                    input(type="number" class="form-control" name="rightbounceback" placeholder="Bounceback Points" value="#{game.team2.bouncebacks}")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Bouncebacks
                                            br
                                    div(class="row")
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Round
                                                div(class="col-md-3")
                                                    input(type="number" class="form-control" name="round" placeholder="Round" value="#{game.round}")
                                    div(class="row")
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') TUH
                                                div(class="col-md-3")
                                                    input(type="number" class="form-control" name="tossupsheard" placeholder="Tossups Heard" value="#{game.tossupsheard}")
                                            br

                                    div(class="row")
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Room
                                                div(class="col-md-3")
                                                    input(type="text" class="form-control" name="room" placeholder="Room Number" value="#{!game.room ? '' : game.room}")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Moderator
                                                div(class="col-md-3")
                                                    input(type="text" class="form-control" name="moderator" placeholder="Moderator" value="#{!game.moderator ? '' : game.moderator}")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Packet
                                                div(class="col-md-3")
                                                    input(type="text" class="form-control" name="packet" placeholder="Packet" value="#{!game.packet ? '' : game.packet}")
                                            br

                                    div(class="row")
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-3")
                                                    label(class="label label-primary btn-block" style='float:right') Phases
                                                div(class="col-md-3")
                                                    select(multiple class="form-control" name='phase_id' size='#{tournament.phases.length}')
                                                        each phase in tournament.phases
                                                            if game.phase_id.indexOf(phase.phase_id)
                                                                option(selected value='#{phase.phase_id}') #{phase.name}
                                                            else
                                                                option(value='#{phase.phase_id}') #{phase.name}
                                    br

                                    div(class='row')
                                        div(class="col-lg-6 col-md-6 col-sm-6")
                                            div(class="row")
                                                div(class="col-md-6")
                                                div(class="col-md-2")
                                                    label(class="label label-primary btn-block" style='float:right') Notes
                                                div(class="col-md-4")
                                                    textarea(class="form-control" name="notes" placeholder="Notes" style='min-height:200px') #{game.notes}

                                    button(type="button" class="btn btn-md btn-info" id="entergamebutton") Save Changes
                                    a(class="btn btn-md btn-danger" href="/t/" + tournament.shortID) Cancel

                                    br
                                    br
                                    div(class="col-md-6 input-lg center-text no-border-radius tournament-info-field" id="updategamediv" style="text-align:center")

block scripts
    script(src="/js/game-configuration.js")
