extends layout

block extrastylesheets
    link(rel="stylesheet" href="/css/index.css")

block extrascripts
    script(src="/js/welcome-screen.js")

block content

    div(class="container vertical-center parent" id="#masterbox")

        div(class="container span4 text-center child userbox" id="loginbox")
            h1(style="white-space:pre")
                | #{title}
                br
                br
                | #{message}
                br
                br

            form(name="logins" id="loginfo" action="/home" role="form" method="post")
                div(class="form-group col-md-8 col-md-7 col-md-offset-4")
                    input(
                        type="input",
                        name="usrname",
                        placeholder="Email",
                        class="form-control input-lg center-text no-border-radius infofield"
                        )
                div(class="form-group col-md-8 col-md-7 col-md-offset-4")
                    input(
                        type="password",
                        name="pswd",
                        placeholder="Password",
                        class="form-control input-lg center-text infofield"
                        )
                div(class="form-group")
                    div(class="form-group text-center")
                        button(class="btn btn-success btn-lg center-in-div no-border-radius",
                            type="button",
                            id="login")
                            | Login
                        button(class="btn btn-warning btn-lg center-in-div no-border-radius",
                            type="button",
                            id="register",
                            )
                            | Register
                        br
                        br
                div(class="form-group")
                    p(id="errorlabel") Welcome to Neg 5, a Quizbowl tournament management system. Login to continue.


        div(class="container span4 text-center child userbox" id="registerWindow")
            h1(style="white-space:pre") Complete this form to register
            br
            br
            form(name="signup" role="form" id="signupform")
                div(class="form-group col-md-8 col-md-7 col-md-offset-4")
                    input(
                        type="input",
                        name="r_name",
                        placeholder="Name",
                        class="form-control input-lg center-text no-border-radius infofield",
                        autocomplete="off"
                        )
                div(class="form-group col-md-8 col-md-7 col-md-offset-4")
                    input(
                        type="input",
                        name="r_usrname",
                        placeholder="Email",
                        class="form-control input-lg center-text no-border-radius infofield",
                        autocomplete="off"
                        )
                div(class="form-group col-md-8 col-md-7 col-md-offset-4")
                    input(
                        type="password",
                        name="r_pswd",
                        placeholder="Password",
                        class="form-control input-lg center-text infofield"
                        )
                div(class="form-group col-md-8 col-md-7 col-md-offset-4")
                    input(
                        type="password",
                        name="r_pswd_2",
                        placeholder="Confirm Password",
                        class="form-control input-lg center-text infofield"
                        )
                button(type="button" id="regbutton" class="btn btn-success no-border-radius") Confirm Registration
                button(type="button" class="btn btn-danger no-border-radius" id="closereg") Close
