extends layout

block titleContent
    title Neg 5 | Quizbowl for the Cloud

block extrastylesheets
    link(rel="stylesheet" href="/css/index.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')

block content

    +navbar

    div(class="jumbotron" style='background-color:transparent;overflow:hidden;padding-top:120px;')
        div(class='row')
            div(class="col-md-12")
                div(class="row" style='text-align:center')
                    div(class='col-md-4')
                    div(class='col-md-4')
                        h2(class='title-header') Neg 5 : Quizbowl for the Cloud.
                        h2 Now on Version 2.0!

        div(style="margin:20px;margin-top:12%")
            div(class="row")
                div(class="col-xs-12")
                    div(class="row")
                        div(class="col-md-1")
                        div(class="col-md-4")
                            div(class='col-md-3')
                            div(class="col-md-7")
                                div(class="row")
                                    img(src="/img/logo.png" class="img-responsive" title='Logo courtesy of u/HyperCamel of r/freedesign')

                        div(class="col-md-7")
                            div(class="col-md-12" id="loginpanel")
                                div(class="row")
                                    form(name="logins" id="loginfo" method="post" action="/auth/local")
                                        div(class="row")
                                            div(class="col-md-2")
                                            div(class="form-group col-md-4")
                                                input(
                                                    type="text",
                                                    name="usrname",
                                                    placeholder="Email"
                                                    class="form-control input-lg center-text no-border-radius tournament-info-field btn-shadow",
                                                    )
                                        div(class="row")
                                            div(class="col-md-2")
                                            div(class="form-group col-md-4")
                                                input(
                                                    type="password",
                                                    name="pswd"
                                                    placeholder="Password",
                                                    class="form-control input-lg center-text no-border-radius tournament-info-field btn-shadow",
                                                    id="passwordinput"
                                                    )

                                div(class="row")
                                    div(class="row")
                                        div(class='col-md-1')
                                        div(class="form-group col-md-3")
                                            button(class="btn btn-shadow subtitle btn-sm btn-block",
                                                type="button",
                                                id="gotoregister",
                                                )
                                                | Register
                                        div(class="form-group col-md-3")
                                            button(class="btn btn-shadow title btn-sm btn-block",
                                                type="button",
                                                id="login")
                                                | Login


                                br
                                br
                                div(class="row")
                                    div(class='col-md-1')
                                    div(class="col-md-11")
                                        div(class="col-md-1")
                                        div()
                                            if errormsg
                                                label(id="errorlabel" style='color:black') #{errormsg}
                                            else
                                                label(id='errorlabel' style='color:black')

                            div(id="registerpanel" style="display:none")

                                div(class="row")
                                    div(class="col-xs-6 col-sm-6 col-md-6 col-lg-6")
                                        div(class="panel-body")
                                            div(class="row")
                                                div(class="row")
                                                    div(class="col-md-12")
                                                        div(class="form-group" style="color:white;background-color:#363B40")
                                                            li(class="form-control input-lg center-text no-border-radius" id="l_name") Name Must be Between 5 and 25 characters
                                                            li(class="form-control input-lg center-text no-border-radius" id="l_email") Email must be in a valid format (example@domain.com)
                                                            li(class="form-control input-lg center-text no-border-radius" id="l_password") Password must be at least 5 characters long
                                                            li(class="form-control input-lg center-text no-border-radius" id="l_match") Passwords must match

                                    div(class="col-xs-6 col-sm-6 col-md-6 col-lg-6")
                                        div(class="panel-body")
                                            div(class="row")

                                                form(name="signup" id="signupform")
                                                    div(class="row")
                                                        div(class="col-md-2")
                                                        div(class="form-group col-md-8")
                                                            input(
                                                                type="text",
                                                                name="r_name",
                                                                placeholder="Name"
                                                                class="form-control input-lg center-text no-border-radius tournament-info-field btn-shadow",
                                                                autocomplete="off")


                                                    div(class="row")
                                                        div(class="col-md-2")
                                                        div(class="form-group col-md-8")
                                                            input(
                                                                type="text",
                                                                name="r_usrname"
                                                                placeholder="Email",
                                                                class="form-control input-lg center-text no-border-radius tournament-info-field btn-shadow",
                                                                )

                                                    div(class="row")
                                                        div(class="col-md-2")
                                                        div(class="form-group col-md-8")
                                                            input(
                                                                type="password",
                                                                name="r_pswd"
                                                                placeholder="Password",
                                                                class="form-control input-lg center-text no-border-radius tournament-info-field btn-shadow",
                                                                )

                                                    div(class="row")
                                                        div(class="col-md-2")
                                                        div(class="form-group col-md-8")
                                                            input(
                                                                type="password",
                                                                name="r_pswd_2"
                                                                placeholder="Confirm Password",
                                                                class="form-control input-lg center-text no-border-radius tournament-info-field btn-shadow",
                                                                )

                                                    div(class="form-group")
                                                        div(class="form-group text-center")
                                                            div(class='col-md-6')
                                                                button(type="button" id="closereg" class="btn btn-md subtitle no-border-radius") Cancel
                                                            div(class='col-md-6')
                                                                button(type="button" id="regbutton" class="btn btn-md title no-border-radius") Confirm Registration


                                                    div(class="row")
                                                        div(class="col-md-2")
                                                        div(class="form-group col-md-8 input-lg no-border-radius tournament-info-field" style="text-align:center;background-color:#363B40" id="registererror")

        div(class='row')
            div(class="col-md-12")
                div(class="row" style='text-align:center')
                    h3 Neg 5 is a collaborative quizbowl tournament management system.
                    h3 Easily manage all aspects of your event from the cloud on tournament day!
        br
        br
        br

        div(class='row')
            div(class='col-md-4')
            div(class='col-md-4')
                script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                // Ad 1
                ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-7416199853732232', data-ad-slot='9649668904', data-ad-format='auto')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});

block scripts
    script(src="/js/welcome-screen.js")
