extends layout

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")

block content

    main(class="cd-main-content" style="background-color:white")
        div(class="box" style="padding:50px;padding-top:20px")

            div(class="row")
                    div(class="col-md-12")
                        div(class="panel-body")
                            div(class="row" style="")
                                ul(class="nav nav-pills no-border-radius")
                                    li
                                        a(href="/home/tournaments/" + tournament.shortID + "/stats/team") Team Standings
                                    li(class="active")
                                        a(href="/home/tournaments/" + tournament.shortID + "/stats/player") Player Standings
                                    li
                                        a(href="/home/tournaments/" + tournament.shortID + "/stats/teamfull") Teams Full
                                    li
                                        a(href="/home/tournaments/" + tournament.shortID + "/stats/playerfull") Players Full

                        h2(class="title" style="width:50%") #{tournament.tournament_name} - Player Standings

                        br
                        br

                        if playersInfo.length != 0
                            - var statHeaders = Object.keys(playersInfo[0].stats)
                            - var points = Object.keys(tournament.pointScheme);
                            div(class="table-responsive")
                                table(class="table table-striped table-bordered table-hover table-condensed")
                                    thead
                                        tr
                                            th(class="table-head") Rank
                                            each name, i in statHeaders
                                                if statHeaders[i] == "pointTotals"
                                                    each val, j in points
                                                        th(class="table-head") #{points[j]}
                                                else
                                                    th(class="table-head") #{statHeaders[i]}

                                    tbody
                                        each player, i in playersInfo
                                            tr
                                                td #{i + 1}
                                                each name, j in statHeaders
                                                    if statHeaders[j] == "pointTotals"
                                                        each val, k in points
                                                            td #{playersInfo[i].stats.pointTotals[val]}
                                                    else if statHeaders[j] == "Player"
                                                        td
                                                            a(href="/home/tournaments/" + tournament.shortID + "/stats/playerfull#" + playersInfo[i].id) #{playersInfo[i].stats[name]}
                                                    else
                                                        td #{playersInfo[i].stats[name]}
