extends layout

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")

block content

    main(class="cd-main-content" style="background-color:white")
        div(class="box" style="padding:50px;padding-top:20px")

            div(class="row")
                    div(class="col-md-12")
                        if custom == false
                            div(class="panel-body")
                                div(class="row" style="")
                                    ul(class="nav nav-pills no-border-radius")
                                        li(class="active")
                                            a(href="/home/tournaments/" + tournament.shortID + "/stats/team") Team Standings
                                        li
                                            a(href="/home/tournaments/" + tournament.shortID + "/stats/player") Player Standings
                                        li
                                            a(href="/home/tournaments/" + tournament.shortID + "/stats/teamfull") Teams Full
                                        li
                                            a(href="/home/tournaments/" + tournament.shortID + "/stats/playerfull") Players Full
                        h2(class="title" style="width:50%") #{tournament.tournament_name} - Team Standings

                        br
                        br
                        - var points = Object.keys(tournament.pointScheme);
                        if tournament.divisions.length === 0
                            if teamInfo.length != 0
                                - var statHeaders = Object.keys(teamInfo[0].stats)

                                div(class="panel panel-default")
                                    table(class="table table-striped table-bordered table-hover table-condensed")
                                        thead
                                            tr
                                                each name, i in statHeaders
                                                    if statHeaders[i] == "pointTotals"
                                                        each val, j in points
                                                            th(class="table-head") #{val}
                                                    else
                                                        th(class="table-head") #{statHeaders[i]}
                                        tbody
                                            each team, i in teamInfo
                                                tr
                                                    each name, j in statHeaders
                                                        if statHeaders[j] == "pointTotals"
                                                            each val, k in points
                                                                td  #{teamInfo[i].stats.pointTotals[val]}
                                                        else
                                                            td #{teamInfo[i].stats[name]}

                        else
                            each division, index in tournament.divisions
                                h2(class="title" style="width:20%") #{tournament.divisions[index]}
                                br
                                if teamInfo.length != 0
                                    - var statHeaders = Object.keys(teamInfo[0].stats)
                                    div(class="panel panel-default")
                                        table(class="table table-striped table-bordered table-hover table-condensed")
                                            thead
                                                tr
                                                    each name, i in statHeaders
                                                        if statHeaders[i] == "pointTotals"
                                                            each val, j in points
                                                                th(class="table-head") #{val}
                                                        else
                                                            th(class="table-head") #{statHeaders[i]}
                                            tbody
                                                each team, i in teamInfo
                                                    if team.stats["Division"] == tournament.divisions[index]
                                                        tr
                                                            each name, j in statHeaders
                                                                if statHeaders[j] == "pointTotals"
                                                                    each val, k in points
                                                                        td #{teamInfo[i].stats.pointTotals[val]}
                                                                else if statHeaders[j] == "Team"
                                                                    td
                                                                        a(href="/home/tournaments/" + tournament.shortID + "/stats/teamfull#" + teamInfo[i].id) #{teamInfo[i].stats["Team"]}
                                                                else
                                                                    td #{teamInfo[i].stats[name]}
