extends simple-layout

block titleContent
    title Round Report | #{tournament.tournament_name} | Neg 5

block content

    main
        +statlinks

        h2 #{tournament.tournament_name} #{tournament.phaseInfo.name} - Round Report

        - var rounds = Object.keys(roundsInfo).sort(function(first, second) {
            - return (parseFloat(first) - parseFloat(second));
        - });

        table
            tr
                td(class="header") Round
                td(class="header") PPG/Team
                td(class="header") TUPts / TUH
                td(class="header") PPB
            tbody
                each round, i in rounds
                    tr
                        td #{round}
                        td #{roundsInfo[round]["PPG/Team"]}
                        td #{roundsInfo[round]["TUPts/TUH"]}
                        td #{roundsInfo[round]["PPB"]}
