extends layout

block titleContent
    title Scoresheet | #{tournamentName} | Neg 5

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")
    link(rel="stylesheet" href="/css/scoresheet.css")

block content

    +navbar

    div(class="content-wrapper box"  style='padding:75px;padding-top:100px')
        input(type="hidden" value="#{tid}" id="tournamentid")
        div(class="row")
            div(class="col-md-6 col-lg-6 col-sm-6")
                div(style="margin:10px; margin-bottom:50px")
                div(style="text-align:center")
                    h2(class="title" style="width:100%;font-size:14px") #{tournamentName} Teams Select

                div(class="row" id="team-select-div")
                    div(class="row")
                        div(class="col-md-12 col-lg-12 col-sm-12")
                            div(class="col-md-6 col-lg-6 col-sm-6")
                                div(style="text-align:left")
                                    br
                                    br
                                    select(class="form-control input-lg center-text teamselect" id='leftselect')
                                        option(disabled selected value="") Select Team 1
                                        each team in teams
                                            option(value="#{team._id}") #{team.team_name}

                            div(class="col-md-6 col-lg-6 col-sm-6")
                                div(style="text-align:center")
                                    br
                                    br
                                    select(class="form-control input-lg center-text teamselect" id='rightselect')
                                        option(disabled selected value="") Select Team 2
                                        each team in teams
                                            option(value="#{team._id}") #{team.team_name}

                div(class="row col-md-12" id='lock-teams-div')
                    button(type='button' class='btn btn-lg btn-danger' id='lock-teams') Lock Teams

                br

                div(class="row" id="tossups-div")

                    div(class="col-md-6 col-lg-6 col-sm-6" id="left-team-players")
                        div(class="panel panel-default" style="text-align:center")
                            div(class="panel-heading" id="team-1-name") Team 1
                            div(class="panel-body" style='position:relative')
                                div(id="leftplayerlist" class='player-list')
                                div(class="neg-box")
                                    button(class='btn btn-lg btn-danger btn-block undo-neg') Undo Neg

                    div(class="col-md-6 col-lg-6 col-sm-6" id="right-team-players")
                        div(class="panel panel-default" style="text-align:center")
                            div(class="panel-heading" id="team-2-name") Team 2
                            div(class="panel-body" style='position:relative')
                                div(id="rightplayerlist" class='player-list')
                                div(class="neg-box")
                                    button(class='btn btn-lg btn-danger btn-block undo-neg') Undo Neg

                    div(class="row col-md-12 col-sm-12 col-lg-12" id="dead-tossup-div" style='display:none;')
                        div(class="col-md-6 col-lg-6 col-sm-6")
                            btn(class="btn btn-block btn-danger" id='last-tossup') Back to Last Tossup
                        div(class='col-md-6 col-lg-6 col-sm-6')
                            btn(class="btn btn-block" id='dead-tossup') Dead Tossup


                div(class="row" id="bonus-div" style='display:none')

                    div(class="col-md-12 col-lg-12 col-sm-12")
                        div(class="panel panel-default" style="text-align:center")
                            div(class="panel-heading" style="font-size:20px" id="team-bonus-name") Team 1
                            div(class="panel-body")
                                div(class="row")
                                    each val, i in [1, 2, 3]
                                        div(class="col-md-12 panel-body bonus-phase" style='padding:0px')
                                            div(class="col-md-5 bonus-box")
                                                button(type='button' class='btn btn-sm not-gotten-bonus btn-block left-team-bonus bonus-part' data-toggle-row='#{val}')
                                            div(class="col-md-2")
                                                label(class='alert alert-info btn-sm btn-block' style='font-size:16px;padding:5px') Part #{val}
                                            div(class="col-md-5 bonus-box")
                                                button(type='button' class='btn btn-sm not-gotten-bonus btn-block right-team-bonus bonus-part' data-toggle-row='#{val}')
                                br
                                div(class="row")
                                    div(class="col-md-6")
                                        button(class="btn btn-lg btn-danger btn-block" style='margin:0px' id="undo-tossup") Undo this Tossup
                                    div(class="col-md-6")
                                        button(class="btn btn-lg btn-warning btn-block" style='margin:0px' id="next-tossup") Next Tossup

                div(class="row")
                    div(class="col-md-6")
                        div(class="panel panel-default table-responsive")
                            table(class="table table-hover table-condensed player-table" id="leftplayertable")

                    div(class="col-md-6")
                        div(class="panel panel-default table-responsive")
                            table(class="table table-hover table-condensed player-table"  id="rightplayertable")

                    div(class='col-md-12' id='toggle-message-div' style='display:none')
                        div(class='alert alert-info btn-lg fade in' style='text-align:center')
                            a(href="#" data-dismiss='alert' aria-label="close" title="Close")
                                strong
                                    | X
                            strong(style='margin:10px')
                                | Click player names on the table above to toggle them as active or unactive. Only active players have their TUH incremented after each tossup.

            div(class="col-md-6 col-lg-6 col-sm-6")
                div(style="margin:20px; margin-bottom:50px")
                div(class="row")
                    div(class="col-md-12 col-sm-12 col-lg-12")
                        div(style="text-align:center")
                            h2(class="title" style="width:100%;font-size:14px") #{tournamentName} Scoresheet

                br

                div(class="row")
                    div(class="col-md-12 col-sm-12 col-lg-12")
                        div(class="panel panel-default")
                            table(class="table table-bordered table-condensed" id="game-metadata")
                                thead
                                    th(class="table-head" style='text-align:center') Round
                                    th(class="table-head" style='text-align:center') Room
                                    th(class="table-head" style='text-align:center') Moderator
                                    th(class='table-head' style='text-align:center') Packet
                                    th(class="table-head" style="text-align:center") Phase
                                    th(class='table-head' style='text-align:center') # Overtime TU
                                    th(class="table-head" style='text-align:center') Notes
                                tbody
                                    tr(id="tr-metadata")
                                        td(class='td-scoresheet' width='100')
                                            input(type='number' class='input-scoresheet' id="round-number" value="#{maxRound}")
                                        td(class="td-scoresheet" width='100')
                                            input(type='text' class='input-scoresheet' value="-" id="room-number")
                                        td(class="td-scoresheet" width='100')
                                            input(type='text' class='input-scoresheet' value="-" id='moderator')
                                        td(class="td-scoresheet")
                                            input(type='text' class='input-scoresheet' value='-' id='packet')
                                        td(class='td-scoresheet')
                                            select(multiple class="form-control" id='phase' style='border-radius:1px;border-width:0px;' size='#{phases.length}')
                                                each phase in phases
                                                    if phase.active
                                                        option(selected value='#{phase.phase_id}') #{phase.name}
                                                    else
                                                        option(value='#{phase.phase_id}') #{phase.name}
                                        td(class="td-scoresheet")
                                            input(type='number' class='input-scoresheet' value='0' id='overtime-tossups')
                                        td(class='td-scoresheet' width='200')
                                            textarea(class='input-scoresheet' id='notes' style='text-align:left') -

                div(class="row")
                    div(class="col-md-12")
                        div(class="panel panel-default")
                            table(class="table table-condensed"  id="scoresheet")

                div(class="row col-md-12" id='submit-game-div')

                div(class='row' id='error-div' style='display:none')
                    div(class="col-md-12")
                        div(class="panel panel-danger" style='text-align:center')
                            div(class="panel-heading" style='font-size:16px') Error
                                i(class="fa fa-times-circle" style='float:left' id='dismiss-error')
                            div(class="panel-body" id='error-msg')

                div(class="row col-md-12 col-lg-12 col-sm-12" id="goto-game-div" style='display:none')
                    div(class="col-md-12 col-sm-12 col-lg-12")
                        button(class="btn btn-xl btn-warning btn-block" data-tournament='#{tid}' id='undo-game') Undo Submission
                            i(class="fa fa-arrow-left" style='margin-left:20px')

block scripts
    script(src="/js/scoresheet-es6.js")
