doctype html
html
  head
    meta(name="description" content="Neg5 is a quiz bowl tournament management system. It is meant to help tournament directors automate their registrations, game inputs, and statistis generation so that they can focus on running their tournament.")
    block titleContent
        title Neg 5

    //- Declaration
    mixin statlinks
        table(style="border-width:0px;width:100%")
            tbody
                tr
                    td(style="border-width:0px")
                        a(href="./" + "#{linkName}" + "_standings.html") Team Standings
                    td(style="border-width:0px")
                        a(href="./" + "#{linkName}" + "_individuals.html") Player Standings
                    td(style="border-width:0px")
                        a(href="./" + "#{linkName}" + "_teamdetail.html") Teams Full
                    td(style="border-width:0px")
                        a(href="./" + "#{linkName}" + "_playerdetail.html") Players Full
                    td(style="border-width:0px")
                        a(href="./" + "#{linkName}" + "_rounds.html") Round Report
    //- Use

    style.
        * {
            font-family: "Verdana", sans-serif;
        }
        body {
            padding:15px;
        }
        td {
            padding:2px;
        }
        .header {
            font-weight:bold;
        }
        table {
            font-size: 14px;
            width: 100%;
        }
        table, th, td {
           border: 1px solid black;
        }

  body()

    block content
