extends layout

block titleContent
    title #{tournament.tournament_name} | Neg 5

block extrastylesheets
    link(rel="stylesheet" href="/css/home.css")
    link(rel="stylesheet" href="/css/tournamentstyle.css")
    link(rel="stylesheet" href="/css/chat.css")

block content

    +navbar

    - var dateConverter = function(date) {
    -    var day = date.getDate();
    -    var month = date.getMonth() + 1;
    -    var year = date.getFullYear();
    -
    -    if (day < 10) {
    -        day = "0" + day;
    -    }
    -    if (month < 10) {
    -        month = "0" + month;
    -    }
    -    var formattedDate = year + "-" + month + "-" + day;
    -    return formattedDate;
    - }

    div(class="content-wrapper box" style='padding:50px;padding-top:20px;')
        input(type="hidden" id="tournamentshortid" value="#{tournament.shortID}")
        div(class="row")
            div(class="col-md-12")
                div(class="col-md-12")
                    div(style="margin:20px; margin-bottom:50px")
                    h2(class="title" style='text-align:center;font-size:1.6em') #{tournament.tournament_name}
                    div(style="margin:20px; margin-bottom:10px")
                    div(class="panel-body")
                        div(class="row" style="")
                            ul(class="nav nav-pills no-border-radius")
                                li(class="active")
                                    a(href="#overview" data-toggle="tab") Overview
                                if admin
                                    li
                                        a(href="#divisions" data-toggle="tab") Divisions/Point Scheme
                                li
                                    a(href="#games" data-toggle="tab") Games/Scoresheet
                                li
                                    a(href="#teams" data-toggle="tab") Teams
                                li
                                    a(href="#stats" data-toggle="tab") Statistics
                                if tournamentd._id == tournament.directorid
                                    li
                                        a(href="#phase" data-toggle="tab") New Phase
                                    li
                                        a(href="#delete" class="btn-danger" data-toggle="tab") Delete
                    br
        div(class="row")
                div(class='col-sm-12 col-md-12')
                    div(class="tab-content")
                        div(class="tab-pane fade active in" id="overview")
                            if admin
                                div(class="panel panel-default")
                                    div(class="panel-heading collapsable") Tournament Overview
                                    div(class="panel-body")
                                        form(id="tournament-overview-form")
                                            input(type="hidden" value="#{tournament._id}" name="tournamentid")
                                            div(class="row")
                                                div(class="col-md-6")
                                                        label(class="label label-primary col-xs-4") Name
                                                        div(class="form-group col-xs-8")
                                                            input(
                                                                type="text",
                                                                name="tournament_name",
                                                                value="#{tournament.tournament_name}",
                                                                class="form-control input-medium center-text no-border-radius"
                                                            )
                                                        label(class="label label-primary col-xs-4") Location
                                                        div(class="form-group col-xs-8")
                                                            input(
                                                                type="text",
                                                                name="tournament_location",
                                                                value="#{tournament.location}",
                                                                class="form-control input-medium center-text no-border-radius"
                                                            )
                                                        label(class="label label-primary col-xs-4") Question Set
                                                        div(class="form-group col-xs-8")
                                                            input(
                                                                type="text",
                                                                name="tournament_qset",
                                                                value="#{tournament.questionSet}",
                                                                class="form-control input-medium center-text no-border-radius"
                                                            )
                                                        label(class="label label-primary col-xs-4") Date
                                                        div(class="form-group col-xs-8")
                                                            if tournament.date
                                                                input(
                                                                    type="date",
                                                                    name="tournament_date",
                                                                    value="#{dateConverter(tournament.date)}",
                                                                    class="form-control input-medium center-text no-border-radius"
                                                                )
                                                            else
                                                                input(
                                                                    type="date",
                                                                    name="tournament_date",
                                                                    class="form-control input-medium center-text no-border-radius"
                                                                )

                                            div(class="row")
                                                div(class="col-md-12")
                                                    label(class="label label-primary col-xs-2") Description
                                                    div(class="form-group col-xs-8")
                                                        textarea(name="tournament_description" class="form-control" rows="10") #{tournament.description}

                                                    div(class="col-md-6")
                                                        button(type="button" class="btn btn-lg btn-success" id="edittournamentbutton") Save Changes
                                                        div(id="tournament-update-msgdiv")
                                                            p(style="margin:10px; font-size:18px")
                            else
                                div(class="panel panel-default")
                                    div(class="panel-heading collapsable") Tournament Overview
                                    div(class="panel-body")
                                        div(class="row")
                                            div(class="col-md-6")
                                                label(class="label label-primary col-xs-4") Name
                                                div(class="form-group col-xs-8")
                                                    input(readonly
                                                        value="#{tournament.tournament_name}",
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                label(class="label label-primary col-xs-4") Location
                                                div(class="form-group col-xs-8")
                                                    input(readonly
                                                        type="text",
                                                        value="#{tournament.location}",
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                label(class="label label-primary col-xs-4") Question Set
                                                div(class="form-group col-xs-8")
                                                    input(readonly
                                                        type="text",
                                                        value="#{tournament.questionSet}",
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                label(class="label label-primary col-xs-4") Date
                                                div(class="form-group col-xs-8")
                                                    if tournament.date
                                                        input(readonly
                                                            type="date",
                                                            value="#{dateConverter(tournament.date)}",
                                                            class="form-control input-medium center-text no-border-radius"
                                                        )
                                                    else
                                                        input(readonly
                                                            type="date",
                                                            class="form-control input-medium center-text no-border-radius"
                                                        )

                                        div(class="row")
                                            div(class="col-md-12")
                                                label(class="label label-primary col-xs-2") Description
                                                div(class="form-group col-xs-8")
                                                    textarea(readonly class="form-control" rows="10") #{tournament.description}


                            div(class="panel panel-default")
                                div(class="panel-heading collapsable") Collaborators

                                div(class="panel-body")
                                    if admin
                                        div(class="row")
                                            div(class="col-md-3" style='background-color:transparent')
                                                form(id="searchcollabform")
                                                    input(id="searchcollabinput" type="text" class="form-control" placeholder="Add Collaborator. Enter at least 5 characters" name="collab")
                                                    button(type="button" class="btn btn-sm btn-info" id="searchcollabbutton") Search

                                            div(class="col-md-5" style="background-color:transparent;margin-top:0")
                                                form(name="collabs" id="addcollabform")
                                                    input(type='hidden' name="tournamentid" value="#{tournament.shortID}")
                                                    select(name="collaborators" class="form-control" size="5" id="directorsoptions")
                                                        option(value="" disabled) Directors will show here.
                                                    label(class="btn btn-sm btn-info"
                                                            data-toggle='tooltip' title='Admins have access to remove games and teams, as well as add new collaborators and remove non-admin collaborators. They can also change divisions, point scheme, and tournament overview info. They cannot delete the tournament or make a new phase.') Admin Privileges
                                                        input(type="checkbox" name='admin' style='margin-left:10px;border-width:0px;')
                                                button(type="button" class="btn btn-sm btn-success" id="addcollabbutton") Add Selected
                                        hr

                                    div(class="row")
                                        div(class="row")
                                            span(class="label label-info" style='margin-left:50px;font-size:16px;') Director
                                        hr
                                        div(style='margin-left:25px')
                                            div(class="col-md-3 center-text collab-box master-admin" style='padding:20px;font-size:18px;border-radius:2px')
                                                p Name: #{tournamentDirector.name}
                                                p Email : #{tournamentDirector.email}
                                    hr
                                    div(class="row")
                                        div(class="row")
                                            span(class="label label-primary" style='margin-left:50px;font-size:16px') Admins
                                        hr
                                        div(style='margin-left:25px' id='admin-div')
                                            each person, i in tournament.collaborators
                                                if person.admin || person.id == tournament.directorid
                                                    div(class="col-md-3 center-text collab-box admin" style='padding:20px;font-size:18px;border-radius:2px')
                                                        p Name : #{person.name}
                                                        p Email : #{person.email}
                                                        if (admin && person.id != tournamentd._id && tournamentd._id == tournament.directorid)
                                                            button(class="btn btn-sm btn-danger removcollab" style='margin-top:20px;' data-collabid="#{person.id}") Remove
                                    hr
                                    div(class="row")
                                        div(class="row")
                                            span(class="label label-warning" style='margin-left:50px;font-size:16px') Non-Admins
                                        hr
                                        div(style='margin-left:25px' id='non-admin-div')
                                            each person, i in tournament.collaborators
                                                if !(person.admin || person.id == tournament.directorid)
                                                    div(class="col-md-3 center-text collab-box not-admin" style='padding:20px;font-size:18px;border-radius:2px')
                                                        p Name : #{person.name}
                                                        p Email : #{person.email}
                                                        if (admin && person.id != tournamentd._id)
                                                            button(class="btn btn-sm btn-danger removcollab" style='margin-top:20px;' data-collabid="#{person.id}") Remove

                        if admin
                            div(class="tab-pane fade" id="divisions")
                                div(class="panel panel-default")
                                    div(class="panel-heading collapsable") Divisions and Point Scheme
                                    div(class="panel-body")
                                        div(class="col-md-6")
                                            label(class="label label-primary col-xs-4") Point Scheme
                                            br
                                            br
                                            div(class="form-group col-md-12")
                                                form(id="point-schema-form")
                                                    input(type="hidden" name="tournamentid" value="#{tournament._id}" id="tournamentidajax")
                                                    input(type="hidden" name="pointtypes" id="pointtypesfield")
                                                    each num, i in Object.keys(tournament.pointScheme)
                                                        div(class='row')
                                                            div(class="form-group col-md-3")
                                                                input(type="number" style="width:100%" value="#{num}" class="form-control input-medium no-border-radius pointval" name="val" + num)

                                                            div(class="col-md-9")
                                                                each type, j in ["B", "N", "P"]

                                                                    if type == "P"
                                                                        label(class="radio-inline btn-sm btn-success") Power
                                                                            if tournament.pointsTypes[num] == "P"
                                                                                input(checked type="checkbox" value="#{type}" class="pointgroup" style="margin-left:5px" name="#{type + num}" data-radiogroup="#{j + 'group'}")
                                                                            else
                                                                                input(type="checkbox" value="#{type}" class="pointgroup" style="margin-left:5px" name="#{type + num}" data-radiogroup="#{j + 'group'}")
                                                                    else if type == "N"
                                                                        label(class="radio-inline btn-sm btn-danger") Neg
                                                                            if tournament.pointsTypes[num] == "N"
                                                                                input(checked type="checkbox" value="#{type}" class="pointgroup" style="margin-left:5px" name="#{type + num}" data-radiogroup="#{j + 'group'}")
                                                                            else
                                                                                input(type="checkbox" value="#{type}" class="pointgroup" style="margin-left:5px" name="#{type + num}" data-radiogroup="#{j + 'group'}")

                                                                    else
                                                                        label(class="radio-inline btn-sm btn-info") Base
                                                                            if tournament.pointsTypes[num] == "B"
                                                                                input(checked type="checkbox" value="#{type}" class="pointgroup" style="margin-left:5px" name="#{type + num}" data-radiogroup="#{j + 'group'}")
                                                                            else
                                                                                input(type="checkbox" value="#{type}" class="pointgroup" style="margin-left:5px" name="#{type + num}" data-radiogroup="#{j + 'group'}")
                                                            br
                                                            br

                                            div(class="btn-group" style="margin-top:15px")
                                                button(type="button" class="btn btn-md btn-info" style="margin:0;margin-bottom:15px" id="add-point-value-button" onclick='addPointSchemaRow()') Add A Point Value
                                                button(type="button" class="btn btn-md btn-success" style="margin:0;margin-bottom:15px" id="save-point-schema-button") Save Point Scheme

                                        div(class="col-md-6")
                                            label(class="label label-primary col-xs-4") Divisions
                                            div(class="form-group col-xs-8")
                                                form(id="divisions-form")
                                                    input(type="hidden" name="tournamentid" value="#{tournament._id}")
                                                    each divison, i in tournament.divisions
                                                        div(class="form-group")
                                                            input(type='text' style="width:50%" value="#{tournament.divisions[i]}" class='form-control input-medium no-border-radius')
                                            div(class="btn-group" style="margin-top:15px")
                                                button(type="button" class="btn btn-md btn-info" style="margin:0" onclick='addDivisionRow()') Add Division
                                                button(type="button" class="btn btn-md btn-success" style="margin:0" id="save-divisions-button") Save Divisions

                                        div(class="col-md-12")
                                        br
                                        br
                                        div(class="col-md-6")
                                            div(class="form-group" style="text-align:center")
                                                br
                                                br
                                                div(class="form-control input-lg center-text no-border-radius tournament-info-field" id="pointdivmsg")

                        div(class="tab-pane fade" id="games")
                            div(class="row")
                                div(class="col-md-3 col-sm-3")
                                    a(class="btn btn-lg btn-info btn-block" target="_blank" href="/t/" + tournament.shortID + "/scoresheet") Scoresheet
                            div(class="panel panel-default")
                                    div(class="panel-heading collapsable") Add a Game
                                    div(class="panel-body" id="addgamepanel")

                                            form(name="gameinfoform" id="gamedataform")
                                                input(type="hidden" value="#{JSON.stringify(tournament.pointScheme)}" name="pointValueForm")
                                                div(class="row")
                                                    input(type="hidden" value="#{tournament._id}" id="tournament_id_change" name="tournament_id_form")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                            input(type="hidden" name="leftteamname" id="leftteamnameID")
                                                            select(id="leftchoice" class="form-control teamselect" name="leftteamselect")
                                                                option(selected value="") Choose a Team
                                                                each team in tournament.teams
                                                                    option(value="#{team._id}") #{team.team_name}

                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                            input(type="hidden" name="rightteamname" id="rightteamnameID")
                                                            select(id="rightchoice" class="form-control teamselect" name="rightteamselect")
                                                                option(selected value="") Choose a Team
                                                                each team in tournament.teams
                                                                    option(value="#{team._id}") #{team.team_name}
                                                br
                                                div(class="row")
                                                    div(id="left-text" class="col-lg-6 col-md-6 col-sm-6")
                                                    div(id="right-text" class="col-lg-6 col-md-6 col-sm-6")
                                                div(class="row")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-warning btn-block" style='float:right') Team 1 Score *
                                                            div(class="col-md-3")
                                                                input(type="number" class="form-control scorebox" name="leftteamscore" placeholder="Team 1 Score")
                                                        div(class='row')
                                                            div(class="col-md-3")
                                                            div(class="col-md-3")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') Bouncebacks
                                                            div(class="col-md-3")
                                                                input(type="number" class="form-control" name="leftbounceback" placeholder="Bounceback Points")
                                                        br
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-3")
                                                                input(type="number" class="form-control scorebox" name="rightteamscore" placeholder="Team 2 Score")
                                                            div(class="col-md-3")
                                                                label(class="label label-warning btn-block" style='float:right') Team 2 Score *
                                                        div(class="row")
                                                            div(class="col-md-3")
                                                                input(type="number" class="form-control" name="rightbounceback" placeholder="Bounceback Points")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') Bouncebacks
                                                        br
                                                div(class="row")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') Round
                                                            div(class="col-md-3")
                                                                input(type="number" class="form-control" name="round" placeholder="Round")
                                                div(class="row")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') TUH
                                                            div(class="col-md-3")
                                                                input(type="number" class="form-control" name="tossupsheard" placeholder="Tossups Heard")
                                                        br
                                                div(class="row")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') Room
                                                            div(class="col-md-3")
                                                                input(type="text" class="form-control" name="room" placeholder="Room")
                                                div(class="row")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') Moderator
                                                            div(class="col-md-3")
                                                                input(type="text" class="form-control" name="moderator" placeholder="Moderator")
                                                div(class="row")
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right') Packet
                                                            div(class="col-md-3")
                                                                input(type="text" class="form-control" name="packet" placeholder="Packet")
                                                        br

                                                div(class='row')
                                                    div(class="col-lg-6 col-md-6 col-sm-6")
                                                        div(class="row")
                                                            div(class="col-md-6")
                                                            div(class="col-md-3")
                                                                label(class="label label-primary btn-block" style='float:right;') Notes
                                                            div(class="col-md-3")
                                                                textarea(class="form-control" name="notes" placeholder="Notes" style='min-height:200px')

                                                button(type="button" class="btn btn-md btn-success" id="entergamebutton") Add Game Information

                                                div(id="add-game-message")


                            div(class="panel panel-default")
                                    div(class="panel-heading collapsable") List of Games
                                    div(class="panel-body")

                                        div(class="table-responsive" id="gamediv")
                                            div(class="row" style="width:95%")
                                                div(class="input-group col-lg-2 col-md-2 col-sm-2" style="margin-left:20px;margin-bottom:20px;")

                                                    input(type="text" class="form-control search" placeholder="Filter By Round or Team")
                                                    span(class="input-group-addon btn-stats")
                                                        i(class="glyphicon glyphicon-search")
                                            div(class="panel panel-default")
                                                table(class="table table-striped table-bordered table-hover table-condensed" id='test-table')
                                                    thead
                                                        tr
                                                            th(class="table-head") Round
                                                            th(class="table-head") Team 1
                                                            th(class="table-head") Team 1 Score
                                                            th(class="table-head") Team 2
                                                            th(class="table-head") Team 2 Score
                                                            th(class="table-head") Tossups Heard
                                                            th(class="table-head") Details
                                                    tbody(id="gametablebody" class="list")
                                                        each val, i in tournament.games
                                                            tr()
                                                                td(class="round") #{tournament.games[i].round}
                                                                td(class="team1name") #{tournament.games[i].team1.team_name}
                                                                td(class="team1score") #{tournament.games[i].team1.score}
                                                                td(class="team2name") #{tournament.games[i].team2.team_name}
                                                                td(class="team2score") #{tournament.games[i].team2.score}
                                                                td(class="tuheard") #{tournament.games[i].tossupsheard}
                                                                td
                                                                    if admin
                                                                        form()
                                                                            input(type="hidden" name="gameid_form" value='#{tournament.games[i].shortID}')
                                                                            input(type="hidden" name="tournament_idgame" value="#{tournament._id}")
                                                                            a(class="btn btn-xs btn-info editbutton" href="/t/" + tournament.shortID + "/games/" + tournament.games[i].shortID) Details
                                                                            button(type="button" class="btn btn-xs btn-warning deletebutton") Remove Game
                                                                    else
                                                                        a(class="btn btn-xs btn-info editbutton" href="/t/" + tournament.shortID + "/games/" + tournament.games[i].shortID) Details

                        div(class="tab-pane fade" id="teams")
                            div(class="panel panel-default")
                                    div(class="panel-heading collapsable" id="add-team-panel") Add a Team
                                    div(class="panel-body" id="add-team-body")

                                        div(class="col-md-6")
                                            form(id="teamform" name="createTeam")
                                                input(
                                                    type="hidden",
                                                    name="tournament_id",
                                                    value="#{tournament._id}"
                                                )
                                                div(class="form-group")
                                                    label Name*
                                                    input(
                                                        type="text",
                                                        name="team_name",
                                                        id="team_name_input",
                                                        placeholder="Team Name",
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                div(class="form-group")
                                                    label Division
                                                    select(name="team_division" class="form-control input-medium center-text no-border-radius" id="divisions-list")
                                                        each division, i in tournament.divisions
                                                            option(value="#{tournament.divisions[i]}") #{division}
                                                div(id="player-dynamic" class="form-group")
                                                    label Players
                                                    button(type="button" class="btn btn-sm btn-success no-border-radius" id="newlineplayer" style="margin: 5px") Add Player
                                                    input(
                                                        type="hidden",
                                                        id="player_team_dynamic",
                                                        name="players_team",
                                                    )
                                                    input(
                                                        type="text",
                                                        name="player1_name",
                                                        placeholder="Player 1",
                                                        autocomplete="off",
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                    input(
                                                        type="text",
                                                        name="player2_name",
                                                        autocomplete="off",
                                                        class="form-control input-medium center-text no-border-radius"
                                                        placeholder="Player 2",
                                                    )
                                                    input(
                                                        type="text",
                                                        name="player3_name",
                                                        placeholder="Player 3",
                                                        autocomplete="off"
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                    input(
                                                        type="text",
                                                        name="player4_name",
                                                        placeholder="Player 4",
                                                        autocomplete="off",
                                                        class="form-control input-medium center-text no-border-radius"
                                                    )
                                                br
                                                button(type="button" class="btn btn-lg btn-info no-border-radius" id="add-team-button") Add Team To Tournament
                                                br
                                                br
                                                div(class="form-control input-lg center-text no-border-radius tournament-info-field" id="addteammsg")


                            div(class="panel panel-default")
                                    div(class="panel-heading collapsable") List of Teams
                                    div(class="panel-body")

                                        div(class="table-responsive" id="teamdiv")
                                            div(class="row" style="width:95%")
                                                div(class="input-group col-lg-2 col-md-2 col-sm-2" style="margin-left:20px;margin-bottom:20px;")

                                                    input(type="text" class="form-control search" placeholder="Filter by Name or Division")
                                                    span(class="input-group-addon btn-stats")
                                                        i(class="glyphicon glyphicon-search")

                                            div(class="panel panel-default")
                                                table(class="table table-striped table-hover table-condensed")
                                                    thead
                                                        tr
                                                            th(class="table-head") Team
                                                            th(class="table-head") Division
                                                            th(class="table-head") Details
                                                    tbody(id="teamtablebody" class="list")
                                                        each val, i in tournament.teams
                                                            tr()
                                                                td(class="teamname") #{tournament.teams[i].team_name}
                                                                td(class="division") #{tournament.teams[i].division}

                                                                td
                                                                    a(class="btn btn-xs btn-info" href="/t/" + tournament.shortID + "/teams/" + tournament.teams[i].shortID) Details
                                                                    if tournamentd._id == tournament.directorid || admin
                                                                        button(type="button" class="btn btn-xs btn-warning start-delete-team")
                                                                            i(class="glyphicon glyphicon-remove")
                                                            if tournamentd._id == tournament.directorid || admin
                                                                tr(style='display:none')
                                                                    td
                                                                    td
                                                                    td
                                                                        div(class="col-md-3 col-lg-3 col-sm-3")
                                                                            button(class="btn btn-stats btn-sm btn-block cancel-delete-team") Never Mind
                                                                        div(class="col-md-3 col-lg-3 col-sm-3")
                                                                            form()
                                                                                input(type="hidden" name="teamid_form" value="#{tournament.teams[i].shortID}")
                                                                                input(type="hidden" name="tournament_idteam" value="#{tournament._id}")
                                                                                button(type="button" class="btn btn-sm btn-danger btn-block deleteteambutton") Confirm



                        div(class="tab-pane fade" id="stats")
                            div(class="panel panel-default")
                                    div(class="panel-heading collapsable") Generate Complete Statistics
                                    div(class="panel-body")

                                        div(class="col-md-5")
                                            ul(class="nav nav-pills no-border-radius")
                                                li
                                                    a(target="_blank" href="/t/" + tournament.shortID + "/stats/team" class="btn btn-sm btn-stats") Team Stats
                                                li
                                                    a(target="_blank" href="/t/" + tournament.shortID + "/stats/player" class="btn btn-sm btn-stats") Player Stats
                                                li
                                                    a(target="_blank" href="/t/" + tournament.shortID + "/stats/teamfull" class="btn btn-sm btn-stats") Full Report
                                                li
                                                    a(target="_blank" href="/t/" + tournament.shortID + "/stats/roundreport" class="btn btn-sm btn-stats") Round Report

                                        div(class="col-md-7")
                                            ul(class="nav nav-pills no-border-radius")
                                                li
                                                    a(href="/t/" + tournament.shortID + "/stats/team/dl" class="btn btn-sm btn-stats download" data-link="#{linkName}_standings.html") Download Team Stats
                                                li
                                                    a(href="/t/" + tournament.shortID + "/stats/player/dl" class="btn btn-sm btn-stats download" data-link="#{linkName}_individuals.html") Download Player Stats
                                                li
                                                    a(href="/t/" + tournament.shortID + "/stats/teamfull/dl" class="btn btn-sm btn-stats download" data-link="#{linkName}_teamdetail.html") Download Team Full Report
                                                li
                                                    a(href="/t/" + tournament.shortID + "/stats/playerfull/dl" class="btn btn-sm btn-stats download" data-link="#{linkName}_playerdetail.html") Download Players Full Report
                                                li
                                                    a(href="/t/" + tournament.shortID + "/stats/roundreport/dl" class="btn btn-sm btn-stats download" data-link="#{linkName}_rounds.html") Download Round Report

                                        div(class="col-md-6")

                                            a(href="/t/" + tournament.shortID + "/export/qbj" class="btn btn-md btn-warning" data-link="#{linkName}_qbj.qbj" id="download-json") Export to QBJ Format
                                            // a(href="/t/" + tournament.shortID + "/export/sqbs" class="btn btn-md btn-warning" data-link="#{linkName}_sqbs.sqbs" id="download-sqbs") Export to SQBS Format
                                            a(href="/t/" + tournament.shortID + "/export/scoresheets" class="btn btn-md btn-warning" data-link="#{linkName}_scoresheets.zip" id='download-scoresheets') Export Scoresheets

                            div(class="panel panel-default")
                                div(class="panel-heading collapsable") Custom Team Statistics

                                div(class="panel-body")
                                        div(class="col-md-12")
                                            form(target="_blank" method="post" action="/t/" + tournament.shortID + "/stats/filter/teams" id="filterstatsform")
                                                div(class="form-group")
                                                    label Teams
                                                    br
                                                    br
                                                    select(name="teams[]" class="form-control" size="#{tournament.teams.length}" multiple)
                                                        each val, i in tournament.teams
                                                            option(value="#{tournament.teams[i]._id}") #{tournament.teams[i].team_name}
                                                div(class="form-group")
                                                    input(class="form-control" type="number" name="minround" placeholder="Min Round" style="width:40%")
                                                div(class="form-group")
                                                    input(class="form-control" type="number" name="maxround" placeholder="Max Round" style="width:40%")
                                                div(class="form-group")
                                                    ul(class="nav nav-pills no-border-radius")
                                                        li
                                                            button(type="button" class="btn btn-lg btn-stats" style="border-radius:5px" class="custombutton" data-post-url="/t/" + tournament.shortID + "/stats/filter/teams") Team Stats
                                                        li
                                                            button(type="button" class="btn btn-lg btn-stats" style="border-radius:5px" class="custombutton" data-post-url="/t/" + tournament.shortID + "/stats/filter/players") Player Stats

                        if (tournamentd._id == tournament.directorid)
                            div(class="tab-pane fade" id="phase")

                                div(class="panel panel-default")
                                    div(class="panel-heading collapsable") New Tournament Phase
                                    div(class="panel-body")
                                        div(class="row")
                                            div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
                                                div(class="alert alert-success")
                                                    | Create a new phase for your tournament if you need new divisions for playoffs.
                                                    | This action will create a new tournament with the same teams and players. You'll be
                                                    | able to merge tournaments together if you need compiled stats by going to the "My Tournaments" page.
                                            div(class="col-md-3 col-sm-3 col=lg-3")
                                                div(class="form-group")
                                                    input(type='text' placeholder='Enter New Phase Name Here' class="form-control" id="new-phase-name")
                                            div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="success-phase-div")
                                                button(class="btn btn-lg btn-success" data-tournament='#{tournament._id}' id="new-phase") New Phase

                        if (tournamentd._id == tournament.directorid)
                            div(class="tab-pane fade" id="delete")

                                div(class="panel panel-default")
                                    div(class="panel-heading collapsable") Delete #{tournament.tournament_name}
                                    div(class="panel-body")
                                        div(class="row")
                                            div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
                                                div(class="alert alert-danger")
                                                    | If you no longer need this tournament, you can delete it here. Please make sure this is what you want
                                                    | to do. This action is final.
                                                    strong There is no way to undo a tournament deletion.

                                                form(method="post" action="/t/#{tournament._id}/delete" name="deleteTournament")
                                                    button(type="button" class="btn btn-md btn-danger" id="delete-tournament-button") Delete This Tournament

                                        div(class="col-md-6" id="confirm-delete-div" style='display:none')
                                            div(class="col-md-6")
                                                button(type="button" class="btn btn-md btn-danger btn-block" id="yes-delete") Yes
                                            div(class="col-md-6")
                                                button(type="button" class="btn btn-md btn-success btn-block" id="no-delete") Never Mind

            // div(class="col-md-3 chat-div")
            //     div(class+"col-md-12" style='margin-top:70%;')
            //         div(class="panel panel-primary")
            //             div(class="panel-heading" style='background-color:#008888')
            //                 span(class="fa fa-comment")
            //                 span(style='margin-left:10px')
            //                     | Hello
            //                 div(class="btn-group pull-right")
            //             div(class="panel-body chat-panel")
            //                 ul(class="chat")
            //                     li(class="left clearfix")
            //                         span(class="chat-img pull-left")
            //                             img(src="http://placehold.it/50/55C1E7/fff&text=M" alt='User Avatar' class='img-circle')
            //                         div(class="chat-body clearfix")
            //                             div(class="header")
            //                                 strong(class='primary-font') Mostafa Bhuiyan
            //                             p
            //                              | Yo, wassup
            //                     li(class="right clearfix")
            //                         span(class="chat-img pull-right")
            //                             img(src="http://placehold.it/50/55C1E7/fff&text=U" alt='User Avatar' class='img-circle')
            //                         div(class="chat-body clearfix")
            //                             div(class="header")
            //                                 strong(class='primary-font') Mostafa Bhuiyan
            //                             p
            //                               | Yo, wassup
            //
            //             div(class="panel-footer")
            //                 div(class="col-md-10")
            //                     input(id="btn-input" type='text' class='form-control input-sm' placeholder='Enter your message here.')
            //                     span(class="input-group-btn")
            //
            //                 button(class="btn btn-warning btn-sm" id="btn-chat") Send
block scripts
    script(src="/js/tournament-configuration.js")
    script(src="/js/jszip/dist/jszip.min.js")
    script(src='/js/jszip/dist/FileSaver.min.js')
