extends ../layout

block titleContent
    title Player Standings | #{tournament.tournament_name} | Neg 5

block content

    main(class="cd-main-content" style='background-color:white;background-image:none')
        div(class="box" style="padding:100px")

            div(class="row")
                    div(class="col-md-12")
                        if (custom == false)
                            div(class="panel-body")
                                div(class="row" style="")
                                    ul(class="nav nav-pills no-border-radius")
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/team?phase=#{tournament.phaseInfo.phase_id}") Team Standings
                                        li
                                            a(class='stat-title' href="/t/" + tournament.shortID + "/stats/player?phase=#{tournament.phaseInfo.phase_id}") Player Standings
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/teamfull?phase=#{tournament.phaseInfo.phase_id}") Teams Full
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/playerfull?phase=#{tournament.phaseInfo.phase_id}") Players Full
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/roundreport?phase=#{tournament.phaseInfo.phase_id}") Round Report


                        if (tournament.phaseInfo)
                            h2(class="subtitle btn-shadow" style="width:50%") #{tournament.tournament_name} #{tournament.phaseInfo.name} - Player Standings
                        else
                            h2(class="subtitle btn-shadow" style="width:50%") #{tournament.tournament_name} - Player Standings

                        br
                        br

                        if playersInfo.length != 0
                            - const statHeaders = Object.keys(playersInfo[0].stats)
                            - var points = Object.keys(tournament.pointScheme).sort((first, second) => {return parseFloat(second) - parseFloat(first);});
                            div(class="row")
                                div(class="input-group col-lg-2 col-md-2 col-sm-2" style="margin-left:20px;margin-bottom:20px;")
                                    input(type="text" class="form-control nf-input search" placeholder="Filter by any of the column headers")
                                    span(class="input-group-addon")
                                        i(class="glyphicon glyphicon-search")
                            div(class="panel panel-default" id="players")
                                table(class="table table-condensed btn-shadow" id="playerstatstable")
                                    thead
                                        tr
                                            th(class="table-head sort" data-sort="Rank") Rank
                                            each name, i in statHeaders
                                                if statHeaders[i] == "pointTotals"
                                                    each val, j in points
                                                        th(class="table-head sort" data-sort=points[j]) #{points[j]}
                                                else
                                                    th(class="table-head sort" data-sort=statHeaders[i]) #{statHeaders[i]}

                                    tbody(class="list")
                                        each player, i in playersInfo
                                            tr
                                                td(class="Rank stat-td") #{i + 1}
                                                each name, j in statHeaders
                                                    if statHeaders[j] == "pointTotals"
                                                        each val, k in points
                                                            td(class='#{val} stat-td') #{playersInfo[i].stats.pointTotals[val]}
                                                    else if statHeaders[j] == "Player"
                                                        td(class='stat-td')
                                                            if tournament.phaseInfo
                                                                a(class="Player" href="/t/" + tournament.shortID + "/stats/playerfull?phase=#{tournament.phaseInfo.phase_id}#" + playersInfo[i].id) #{playersInfo[i].stats[name]}
                                                            else
                                                                p(class="Player") #{playersInfo[i].stats[name]}
                                                    else
                                                        td(class="#{statHeaders[j]} stat-td") #{playersInfo[i].stats[name]}
block scripts
    script(src="/js/tournament-configuration.js")
