extends ../layout

block titleContent
    title Team Standings | #{tournament.tournament_name} | Neg 5

block content

    main(class="cd-main-content")
        div(class="box" style="padding:100px")

            div(class="row")
                    div(class="col-md-12")
                        if custom == false
                            div(class="panel-body")
                                div(class="row")
                                    ul(class="nav nav-pills no-border-radius")
                                        li
                                            a(class='stat-title' href="/t/" + tournament.shortID + "/stats/team?phase=#{tournament.phaseInfo.phase_id}") Team Standings
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/player?phase=#{tournament.phaseInfo.phase_id}") Player Standings
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/teamfull?phase=#{tournament.phaseInfo.phase_id}") Teams Full
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/playerfull?phase=#{tournament.phaseInfo.phase_id}") Players Full
                                        li
                                            a(href="/t/" + tournament.shortID + "/stats/roundreport?phase=#{tournament.phaseInfo.phase_id}") Round Report

                        if (tournament.phaseInfo)
                            h2(class="subtitle btn-shadow" style="width:50%") #{tournament.tournament_name} #{tournament.phaseInfo.name} - Team Standings
                        else
                            h2(class="subtitle btn-shadow" style="width:50%") #{tournament.tournament_name} - Team Standings
                        br
                        br
                        - var points = Object.keys(tournament.pointScheme).sort((first, second) => {return parseFloat(second) - parseFloat(first);});
                        if tournament.divisions.length === 0
                            if teamInfo.length != 0
                                - var statHeaders = Object.keys(teamInfo[0].stats)

                                div(class="panel panel-default")
                                    table(class="table table-condensed btn-shadow")
                                        thead
                                            tr
                                                th(class="table-head") Rank
                                                each name, i in statHeaders
                                                    if statHeaders[i] == "pointTotals"
                                                        each val, j in points
                                                            th(class="table-head") #{val}
                                                    else if name != "Rank"
                                                        th(class="table-head") #{statHeaders[i]}
                                        tbody
                                            each team, i in teamInfo
                                                tr
                                                    td(class='stat-td') #{teamInfo[i].stats["Rank"]}
                                                    each name, j in statHeaders
                                                        if statHeaders[j] == "pointTotals"
                                                            each val, k in points
                                                                td(class='stat-td')  #{teamInfo[i].stats.pointTotals[val]}
                                                        else if statHeaders[j] == "Team"
                                                            td(class='stat-td')
                                                                if tournament.phaseInfo
                                                                    a(href="/t/" + tournament.shortID + "/stats/teamfull?phase=#{tournament.phaseInfo.phase_id}#" + teamInfo[i].id) #{teamInfo[i].stats["Team"]}
                                                                else
                                                                    p #{teamInfo[i].stats["Team"]}
                                                        else if name != "Rank"
                                                            td(class='stat-td') #{teamInfo[i].stats[name]}

                        else
                            - var noDivisionTeams = []
                            - var addedTeams = {}
                            each division, index in tournament.divisions
                                h2(class="title" style="width:20%") #{tournament.divisions[index]}
                                br
                                if teamInfo.length != 0
                                    - var statHeaders = Object.keys(teamInfo[0].stats)
                                    div(class="panel panel-default")
                                        table(class="table table-condensed btn-shadow")
                                            thead
                                                tr
                                                    th(class="table-head") Rank
                                                    each name, i in statHeaders
                                                        if statHeaders[i] == "pointTotals"
                                                            each val, j in points
                                                                th(class="table-head") #{val}
                                                        else if name != "Rank"
                                                            th(class="table-head") #{statHeaders[i]}
                                            tbody
                                                each team, i in teamInfo
                                                    if team.stats["Division"] == tournament.divisions[index]
                                                        tr
                                                            td(class='stat-td') #{teamInfo[i].stats["Rank"]}
                                                            each name, j in statHeaders
                                                                if statHeaders[j] == "pointTotals"
                                                                    each val, k in points
                                                                        td(class='stat-td') #{teamInfo[i].stats.pointTotals[val]}
                                                                else if statHeaders[j] == "Team"
                                                                    td(class='stat-td')
                                                                        if tournament.phaseInfo
                                                                            a(href="/t/" + tournament.shortID + "/stats/teamfull?phase=#{tournament.phaseInfo.phase_id}#" + teamInfo[i].id) #{teamInfo[i].stats["Team"]}
                                                                        else
                                                                            p #{teamInfo[i].stats["Team"]}
                                                                else if name != "Rank"
                                                                    td(class='stat-td') #{teamInfo[i].stats[name]}

                                                    else if !custom && team.stats["Division"].length == 0
                                                        if !addedTeams[team.id]
                                                            - noDivisionTeams.push(team)
                                                            - addedTeams[team.id] = true

                            if noDivisionTeams.length !== 0
                                h2(class="title" style='width:20%') No Division Assigned
                                - var statHeaders = Object.keys(noDivisionTeams[0].stats)
                                div(class="panel panel-default")
                                    table(class="table table-condensed btn-shadow")
                                        thead
                                            tr
                                                th(class="table-head") Rank
                                                each name, i in statHeaders
                                                    if statHeaders[i] == "pointTotals"
                                                        each val, j in points
                                                            th(class="table-head") #{val}
                                                    else if name != "Rank"
                                                        th(class="table-head") #{statHeaders[i]}
                                        tbody
                                            each team, i in noDivisionTeams
                                                tr
                                                    td(class='stat-td') #{noDivisionTeams[i].stats["Rank"]}
                                                    each name, j in statHeaders
                                                        if statHeaders[j] == "pointTotals"
                                                            each val, k in points
                                                                td #{noDivisionTeams[i].stats.pointTotals[val]}
                                                        else if statHeaders[j] == "Team"
                                                            td(class='stat-td')
                                                                if tournament.phaseInfo
                                                                    a(href="/t/" + tournament.shortID + "/stats/teamfull?phase=#{tournament.phaseInfo.phase_id}#" + noDivisionTeams[i].id) #{noDivisionTeams[i].stats["Team"]}
                                                                else
                                                                    p #{noDivisionTeams[i].stats["Team"]}
                                                        else if statHeaders[j] != "Rank"
                                                            td(class='stat-td') #{noDivisionTeams[i].stats[name]}
